<app-header></app-header>

<div id="facet-sidebar" class="sidebar sidebar-kdark">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Provider Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedPN">
                                <span class="input-group-addon" *ngIf="!searchedPN || searchedPN.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPN=''" *ngIf="searchedPN && searchedPN.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.PARTY_FIRST_NAME | searchFacets:searchedPN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.count + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Provider Type</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedPS">
                                <span class="input-group-addon" *ngIf="!searchedPS || searchedPS.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPS=''" *ngIf="searchedPS && searchedPS.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.PROVIDER_SPECIALTY | searchFacets:searchedPS">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.count + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Zip</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedZC">
                                <span class="input-group-addon" *ngIf="!searchedZC || searchedZC.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedZC=''" *ngIf="searchedZC && searchedZC.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.ZIP_CODE | searchFacets:searchedZC">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 3)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.count + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">TIN</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedTIN">
                                <span class="input-group-addon" *ngIf="!searchedTIN || searchedTIN.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedTIN=''" *ngIf="searchedTIN && searchedTIN.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.TAX_ID_NUMBER | searchFacets:searchedTIN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 4)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.count + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main kdark" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['../home']">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Provider dashboard</span>
        </li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown" *ngIf="rersProviderSummary && rersProviderSummary.length>0">
                <a class="btn btn-clear" title="Download JSON" [href]="downloadJsonHref" [download]="rersProviderSummary[0].PARTY_FIRST_NAME + '.json'">
                    <i class="icon-cloud-download"></i> Download JSON
                </a>
                <a class="btn btn-clear" title="Download CSV" href="javascript:void(0)" (click)="exportCSV()">
                    <i class="icon-cloud-download"></i> Download
                </a>
            </div>
        </li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="m-t-2">
                <!--<h3 class="card-header">ProviderSummary</h3>-->
                <div class="row">
                    <div class="form-group mb-0 col-md-12">
                        <div class="input-group">
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search ProviderSummary" [(ngModel)]="searchProviderSummaryText"
                                (keyup.enter)="searchProviderSummary()">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" (click)="searchProviderSummary()">
                                    <i class="fa fa-search"></i> Search</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 p-0 pt-1 text-xs-right page-info" [hidden]="true">
                    <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersProviderSummary.length) + ' of ' + totalRecords + ' items'"></span>
                </div>
                <div class="col-xs-12 p-0 selected-facet-container">
                    <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.PARTY_FIRST_NAME | selectedFacets"
                        (click)="removeSelectedFacet(objFacet, 1)">
                        <i class="fa fa-close"></i>
                        <span [textContent]="objFacet.name==''?'Empty Provider Name':objFacet.name"></span>
                    </button>
                    <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.PROVIDER_SPECIALTY | selectedFacets"
                        (click)="removeSelectedFacet(objFacet, 2)">
                        <i class="fa fa-close"></i>
                        <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                    </button>
                    <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.ZIP_CODE | selectedFacets" (click)="removeSelectedFacet(objFacet, 3)">
                        <i class="fa fa-close"></i>
                        <span [textContent]="objFacet.name==''?'Empty Zip':objFacet.name"></span>
                    </button>
                    <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.TAX_ID_NUMBER | selectedFacets"
                        (click)="removeSelectedFacet(objFacet, 4)">
                        <i class="fa fa-close"></i>
                        <span [textContent]="objFacet.name==''?'Empty TIN':objFacet.name"></span>
                    </button>
                </div>
                <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                    <h4>No result found.</h4>
                </div>
            </div>
            <div class="row mt-1">
                <!---->
                <div class="col-xs-12" [hidden]="totalRecords==0">
                    <!--<div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>-->
                    <div class="pagination-container" [hidden]="totalRecords<=1">
                        <!--<pagination-controls [hidden]="true" autoHide="true" (pageChange)="searchProviderSummaryRecordsWithFilters($event)" id="server"></pagination-controls>-->
                        <!-- [class.disabled]="fetchLimit<=1"-->
                        <ul class="pagination">
                            <li class="page-item pagination-previous" [class.disabled]="pageNumber<=1">
                                <a class="page-link" (click)="searchProviderSummaryRecordsWithFilters(pageNumber-1)">Previous</a>
                                <!--<a class="page-link" style="width: 100px" (click)="fetchLimit=fetchLimit-1;getProviderRecordsWithFilters()">Previous</a>-->
                            </li>
                            <li class="page-item">
                                <span *ngIf="totalRecords>0" [textContent]="'Record ' + pageNumber + ' of ' + totalRecords"></span>
                            </li>
                            <!--[class.disabled]="totalRecords==fetchLimit"-->
                            <li class="page-item pagination-next" [class.disabled]="pageNumber==(totalRecords/recordsToFetch).toFixed(0)">
                                <a class="page-link" (click)="searchProviderSummaryRecordsWithFilters(pageNumber+1)">Next</a>
                                <!--<a class="page-link" style="width: 100px" (click)="fetchLimit=fetchLimit+1;getProviderRecordsWithFilters()">Next</a>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--asyncProviderSummary-->
        <div *ngFor="let objProviderSummary of asyncProviderSummary | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
            <div class="animated fadeIn provider-dash">
                <div class="row mb-2">
                    <!-- tabview start -->
                    <div *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'">
                            <div class="col-sm-6 col-md-12">
                                <div class="card-accent-primary mb-0">
                                    <div class="card-header blue-hedear font-large">
                                        <div class="row m-0">

                                            <div class="">
                                                <div class="pull-left">
                                                    <button class="btn btn-link focus-outline" (click)="objProviderSummary.isOpen=!objProviderSummary.isOpen" type="button">
                                                        <i class="icon-arrow-down" [hidden]="!objProviderSummary.isOpen"></i>
                                                        <i class="icon-arrow-right" [hidden]="objProviderSummary.isOpen"></i>
                                                    </button>
                                                    <b class="card-inverse">Provider NPI:</b>
                                                    <span  class="card-inverse" [textContent]="'' + objProviderSummary.PROVIDER_INDIVIDUAL_NPI">
                                                        8743535559 </span> |
                                                    <b  class="card-inverse">Provider Name:</b> <span  class="card-inverse"> {{objProviderSummary.PARTY_FIRST_NAME + ' ' + objProviderSummary.PARTY_LAST_NAME}} </span>
                                                    |
                                                    <b  class="card-inverse">License Number: </b><span class="card-inverse">{{objProviderSummary.PROFESSIONAL_LICENSE_NUMBER}}</span>
                                                    <b  class="card-inverse">{{objProviderSummary.PROVIDER_LICENSE_STATUS}}</b>
                                                    <!-- <b [textContent]="'License Number: : ' + objProviderSummary.PROFESSIONAL_LICENSE_NUMBER + ' STATUS : ' + objProviderSummary.PROVIDER_LICENSE_STATUS">LICENCE NO : 34432 STATUS : VALID </b> -->
                                                    <!-- <span class="data-title">Hello :</span>
                                                    <div class="pull-left"> hello 1</div> -->
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div id="slide-down-de" [hidden]="!objProviderSummary.isOpen">
                                        <div *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'">
                                            <div class="col-sm-6 col-md-4">
                                                <div class="card card-accent-primary mb-0">
                                                    <div class="card-header">
                                                        <span [textContent]="(objProviderSummary.PARTY_FIRST_NAME) | uppercase">DIAZ</span>
                                                        <!-- <button class="btn btn-primary float-xs-right" type="button" *ngIf="!caseOpened" (click)="generateCase(objProviderSummary)">Open Case</button> -->
                                                        <span class="tag tag-success float-xs-right case-status" *ngIf="caseOpened" [textContent]="caseStatus" (click)="openCaseDetailInCaseManagement()"></span>
                                                    </div>
                                                    <div class="card-block">
                                                            <div class="text-lg-center">
                                                                <img    [src]="objProviderSummary.PROFILE_PICTURE" class="mt-q md-card-image round-element provideImage"
                                                                    alt="Teresa">
                                                                <div class="mt-1"><b>{{objProviderSummary.PARTY_FIRST_NAME + ' ' + objProviderSummary.PARTY_LAST_NAME}}</b>
                                                                     <!-- <a *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'"
                                                                    style="text-decoration: none;cursor:pointer" href="javascript:;"
                                                                    style="color:#fff;text-decoration: none;" class=" pull-right"
                                                                    (click)="ongetmoreinfo('subjectSection')">AKAInfo...</a>  -->
                                                                </div>

                                                            </div>
                                                            <!-- <div class="card mt-1"> -->
                                                            <div class="mt-1">
                                                                <div class="">
                                                                    <span [textContent]="'Speciality: Chiropractor'">Speciality: </span>
                                                                </div>
                                                            </div>
                                                            <div class="mt-1">
                                                                <div class="">
                                                                    <span [textContent]="'NICB Alerts: ' + objProviderSummary.NICB_ALERTS">NICB Alerts: </span>
                                                                </div>
                                                            </div>
                                                            <div class="row lg-d-flex mt-1">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="card mb-0">
                                                                        <div class="card-block p-q">
                                                                            <a target="_blank" [href]="objProviderSummary.DNB_REPORT_LINK">
                                                                                <img src="/assets/img/pdf.png">
                                                                            </a> D&B report
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br/>
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="card mb-0">
                                                                        <div class="card-block p-q">
                                                                            <a target="_blank" [href]="objProviderSummary.LEXIS_NEXIS_REPORT">
                                                                                <img src="/assets/img/pdf.png">
                                                                            </a> Lexis report
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        


                                                       
                                                        


                                                    </div>
                                                </div>
                                                <!-- <div class="card card-accent-primary mb-0">
                                                    <div class="card-header p-q">
                                                         <b [textContent]="'LICENCE NO : ' + objProviderSummary.PROFESSIONAL_LICENSE_NUMBER + ' STATUS : ' + objProviderSummary.PROVIDER_LICENSE_STATUS">LICENCE NO : 34432 STATUS : VALID </b> 
                                                        <a *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" style="color:#fff;text-decoration: none;cursor:pointer" href="javascript:;"
                                                            class="" (click)="ongetmoreinfo('LicenseSection')">LICENCE Info...</a>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-8" (click)="$event.preventDefault()">
                                            <tabset class="kdark provider-custom-tab">
                                                <tab style="border-top:0px;" heading="Aliases">
                                                    <div style="width:100%;max-height:300px;overflow:auto;">
                                                        <table class="table ktable">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>First Name</th>
                                                                    <th>Middle Name</th>
                                                                    <th>Last Name</th>
                                                                    <th>Birth Date</th>
                                                                    <th>Person SSN</th>
                                                                </tr>
                                                            </thead>
                                                            <tr *ngFor="let subject of responcesubjectInfo; let i=index">
                                                                <td>{{i+1}}</td>
                                                                <td>{{subject.PersonName.FirstName}}</td>
                                                                <td>{{subject.PersonName.MiddleName}}</td>
                                                                <td>{{subject.PersonName.LastName}}</td>
                                                                <td>
                                                                    <span *ngIf="subject.PersonProfile.PersonBirthDate">{{subject.PersonProfile.PersonBirthDate}}</span>
                                                                </td>
                                                                <td>
                                                                    <span *ngIf="subject.PersonSSN">{{subject.PersonSSN.SSN}}</span>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                </tab>
                                                <tab style="border-top:0px;" heading="Multiple SSN">
                                                    <div style="width:100%;max-height:300px;overflow:auto;">
                                                        <table class="table ktable">
                                                            <thead>
                                                                <tr>
                                                                    <th width="5%">#</th>
                                                                    <th width="20%">SSN</th>
                                                                    <th width="25%">Address</th>
                                                                    <th width="25%">Alert Indicator</th>
                                                                    <th width="25%">Alert Description</th>
                                                                </tr>
                                                            </thead>
                                                            <tr *ngFor="let SSNAddressFraud of responceSSNAddressFraudSectionInfo; let i=index">
                                                                <td>{{i+1}}</td>
                                                                <td>{{SSNAddressFraud["SSNAlert"]["SSN"]["SSN"]}}</td>
                                                                <td>{{SSNAddressFraud.AddressAlert.Address.Street}}
                                                                    {{SSNAddressFraud.AddressAlert.Address.City}}
                                                                    {{SSNAddressFraud.AddressAlert.Address.State}}
                                                                    {{SSNAddressFraud.AddressAlert.Address.ZipCode}}

                                                                </td>
                                                                <td>{{SSNAddressFraud.SSNAlert.AlertIndicator}}</td>
                                                                <td>{{SSNAddressFraud.SSNAlert.AlertDescription}}</td>

                                                            </tr>

                                                        </table>
                                                    </div>
                                                </tab>
                                                <tab style="border-top:0px;" heading="Address">
                                                    <div style="width:100%;max-height:300px;overflow:auto;">
                                                        <table class="table ktable">
                                                            <thead>
                                                                <tr>
                                                                    <th width="5%">#</th>
                                                                    <th width="10%">First Name</th>
                                                                    <th width="10%">Last Name</th>
                                                                    <th width="55%">Address</th>
                                                                    <th width="20%">DUNS Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tr *ngFor="let bsubjectaddress of responceSubjectAddressInfo; let i=index">
                                                                <td>{{i+1}}</td>
                                                                <td>{{bsubjectaddress.DunBradstreetRecord.PersonInfo.PersonName.FirstName}}</td>
                                                                <td>{{bsubjectaddress.DunBradstreetRecord.PersonInfo.PersonName.LastName}}</td>
                                                                <td>{{bsubjectaddress.SubjectAddress.Street}} {{bsubjectaddress.SubjectAddress.City}}
                                                                    {{bsubjectaddress.SubjectAddress.State}} {{bsubjectaddress.SubjectAddress.ZipCode}}
                                                                    {{bsubjectaddress.SubjectAddress.County}}
                                                                </td>
                                                                <td>
                                                                    <span *ngIf="bsubjectaddress.DunBradstreetRecord.BusinessInfo">{{bsubjectaddress.DunBradstreetRecord.BusinessInfo.DUNSNumber}}</span>
                                                                </td>

                                                            </tr>

                                                        </table>
                                                    </div>
                                                </tab>
                                                <tab style="border-top:0px;" heading="Red Flag Alert">
                                                    <!-- <div class="col-sm-6 col-md-12 mb-2">
                                                        <div class="br-5">
                                                            <div class="card card-accent-danger mb-0">
                                                                 <div class="card-header font-large">
                                                                            Red Flag Alert
                                                                        </div> 
                                                                
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <div class="card-block p-0 redflagalert-container">
                                                        <div class="col-md-6 p-1" *ngFor="let objRedFlagAlert of resRedFlagAlerts">
                                                            <span [textContent]="objRedFlagAlert.AlertType + ' (' + objRedFlagAlert.AlertValue + ')'">Denied Bills (114)</span>
                                                            <button class="btn btn-warning pull-right" type="button" (click)="viewRedFlagAlertDetails(objProviderSummary.TAX_ID_NUMBER, objRedFlagAlert.AlertType)">View Details</button>
                                                        </div>
                                                        <!-- <div class="col-md-6 p-1">
                                                                                <span> Quick Analysis Flag</span>
                                                                                <button class="btn btn-warning pull-right" type="button" (click)="ongetmoreinfo('QuickAnalysisFlagSection')">View Details</button>
                                                                            </div> -->
                                                        <div class="col-md-6 p-1">
                                                            <span>Criminal Records</span>
                                                            <button class="btn btn-warning pull-right" type="button" (click)="ongetmoreinfo('CriminalSection')">View Details</button>
                                                        </div>
                                                    </div>
                                                </tab>
                                                <tab style="border-top:0px;" heading="Quick Analysis Flag">
                                                    <div *ngIf="responceQuickAnalysisFlagSectionInfo" style="width:100%;max-height:300px;overflow:auto;">
                                                        <table class="table ktable">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Quick Analysis Flag Name</th>
                                                                    <th>Risk Flag</th>
                                                                </tr>
                                                            </thead>
                                                            <tr *ngFor="let quickanalysis of responceQuickAnalysisFlagSectionInfo; let i=index">

                                                                <td>{{i+1}}</td>
                                                                <td>{{quickanalysis.riskname}}</td>
                                                                <td>{{quickanalysis.riskvalue}}</td>

                                                            </tr>

                                                        </table>
                                                    </div>
                                                </tab>
                                                <tab style="border-top:0px;" heading="LICENCE Info">
                                                    <div style="width:100%;max-height:300px;overflow:auto;">
                                                        <table class="table ktable">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Full Name</th>
                                                                    <th>Address</th>
                                                                    <th>License Number</th>
                                                                    <th>License State</th>
                                                                    <th>Licensing Agency</th>
                                                                </tr>
                                                            </thead>
                                                            <tr *ngFor="let professionalLicense of responceLicenseSectionInfo; let i=index">
                                                                <td>{{i+1}}</td>
                                                                <!-- <td>{{professionalLicense.PersonInfo.PersonName.FirstName}}</td>
                    <td>{{professionalLicense.PersonInfo.PersonName.LastName}}</td> -->
                                                                <td>{{professionalLicense.PersonInfo.PersonName.FullName}}</td>
                                                                <td>{{professionalLicense.PersonalAddresses.Address.Street}}
                                                                    {{professionalLicense.PersonalAddresses.Address.City}}
                                                                    {{professionalLicense.PersonalAddresses.Address.State}}
                                                                    {{professionalLicense.PersonalAddresses.Address.ZipCode}}
                                                                    {{professionalLicense.PersonalAddresses.Address.County}}
                                                                </td>
                                                                <td>{{professionalLicense.ProLicenseInfo.CertificationInfo.LicenseNumber}}</td>
                                                                <td>{{professionalLicense.ProLicenseInfo.LicenseState}}</td>
                                                                <td>{{professionalLicense.ProLicenseInfo.LicensingAgency}}</td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                </tab>
                                            </tabset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- tabview end -->
                    <div *ngIf="objProviderSummary.PARTY_FIRST_NAME != 'Bryan'" class="col-sm-6 col-md-4">
                        <div class="br-5 mb-2">
                            <div class="card card-accent-primary mb-0">
                                <div class="card-header">
                                    <span [textContent]="(objProviderSummary.PARTY_FIRST_NAME) | uppercase">DIAZ</span>
                                    <button class="btn btn-primary float-xs-right" type="button" *ngIf="!caseOpened" (click)="generateCase(objProviderSummary)" style="
                                    visibility: hidden;">Open Case</button>
                                    <span class="tag tag-success float-xs-right case-status" *ngIf="caseOpened" [textContent]="caseStatus" (click)="openCaseDetailInCaseManagement()"></span>
                                </div>
                                <div class="card-block">
                                    <div class="text-lg-center">
                                        <img [src]="objProviderSummary.PROFILE_PICTURE" class="md-card-image round-element provideImage" alt="Teresa">
                                        <div class="mt-1">
                                            <b>{{objProviderSummary.PARTY_FIRST_NAME + ' ' + objProviderSummary.PARTY_LAST_NAME}}</b>
                                            <a *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" style="text-decoration: none;cursor:pointer" href="javascript:;"
                                                style="color:#fff;text-decoration: none;" class=" pull-right" (click)="ongetmoreinfo('subjectSection')">AKAInfo...</a>
                                        </div>

                                        <!-- <br *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" /> -->
                                    </div>

                                    <div class="mt-1">
                                        <div class="">
                                            <span [textContent]="'Speciality: Chiropractor'">Speciality: </span>
                                        </div>
                                    </div>
                                    <div class="mt-1">
                                        <div class="">
                                            <span [textContent]="'NICB Alerts: ' + objProviderSummary.NICB_ALERTS">NICB Alerts: </span>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="card mb-0">
                                                <div class="card-block p-q">
                                                    <a target="_blank" [href]="objProviderSummary.DNB_REPORT_LINK">
                                                        <img src="/assets/img/pdf.png">
                                                    </a> D&B report
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="card mb-0">
                                                <div class="card-block p-q">
                                                    <a target="_blank" [href]="objProviderSummary.LEXIS_NEXIS_REPORT">
                                                        <img src="/assets/img/pdf.png">
                                                    </a> Lexis report
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-accent-primary mb-0">
                                <div class="card-header p-1">
                                    <b [textContent]="'ADDRESS : ' + objProviderSummary.STREET_ADDRESS + ' ' + objProviderSummary.CITY + ' ' + objProviderSummary.STATE + ' ' + objProviderSummary.ZIP_CODE">52-Ohio CO 86544 </b>
                                    <a *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" style="color:#fff;text-decoration: none;cursor:pointer" href="javascript:;"
                                        class=" pull-right" (click)="ongetmoreinfo('BusinessAtSubjectAddressSection')">More Info...</a>
                                </div>
                            </div>
                            <div class="card card-accent-primary mb-0">
                                <div class="card-header p-1">
                                    <b [textContent]="'TIN : ' + objProviderSummary.TAX_ID_NUMBER">TIN : 264647617 </b>
                                </div>
                            </div>
                            <div class="card card-accent-primary mb-0">
                                <div class="card-header p-1">
                                    <b [textContent]="'LICENCE NO : ' + objProviderSummary.PROFESSIONAL_LICENSE_NUMBER + ' STATUS : ' + objProviderSummary.PROVIDER_LICENSE_STATUS">LICENCE NO : 34432 STATUS : VALID </b>
                                    <a *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" style="color:#fff;text-decoration: none;cursor:pointer" href="javascript:;"
                                        class=" pull-right" (click)="ongetmoreinfo('LicenseSection')">More Info...</a>
                                </div>
                            </div>
                            <div class="card card-accent-primary mb-0" *ngIf="objProviderSummary.PROVIDER_INDIVIDUAL_NPI">
                                <div class="card-header p-1">
                                    <b [textContent]="'NPI : ' + objProviderSummary.PROVIDER_INDIVIDUAL_NPI">NPI : 8743535559 </b>
                                </div>
                            </div>
                            <div class="card card-accent-primary mb-0" *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'">
                                <div class="card-header p-1">
                                    <b [textContent]="'SSN and Fraud alerts'">SSN and Fraud alerts </b>
                                    <a *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" style="color:#fff;text-decoration: none;cursor:pointer" href="javascript:;"
                                        class=" pull-right" (click)="ongetmoreinfo('SSNAddressFraudSection')">More Info...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="objProviderSummary.PARTY_FIRST_NAME != 'Bryan'" class="col-sm-6 col-md-8">
                        <div class="br-5 mb-2">
                            <div class="card card-accent-success mb-0">
                                <div class="card-header font-large card-panel-text">
                                    Bill Statistics
                                </div>
                                <div class="card-block">
                                    <table class="table ktable">
                                        <thead>
                                            <tr>
                                                <th>YEAR</th>
                                                <th>BILL COUNT</th>
                                                <th>BILLED AMT</th>
                                                <th>PAID AMT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let objBillStatistics of resBillStatistics">
                                                <td [textContent]="objBillStatistics.BILL_YEAR">2011</td>
                                                <td [textContent]="objBillStatistics.TOTAL_MEDICAL_BILLS">3400</td>
                                                <td [textContent]="objBillStatistics.TOTAL_BILLED_AMOUNT">$56,853,722.00</td>
                                                <td [textContent]="objBillStatistics.TOTAL_PAID_AMOUNT">$56,853,722.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="objProviderSummary.PARTY_FIRST_NAME != 'Bryan'" class="col-sm-6 col-md-8 mb-2">
                        <div class="br-5">
                            <div class="card card-accent-danger mb-0">
                                <div class="card-header font-large">
                                    Red Flag Alert
                                </div>
                                <div class="card-block p-0 redflagalert-container">
                                    <div class="col-md-6 p-1" *ngFor="let objRedFlagAlert of resRedFlagAlerts">
                                        <span [textContent]="objRedFlagAlert.AlertType + ' (' + objRedFlagAlert.AlertValue + ')'">Denied Bills (114)</span>
                                        <button class="btn btn-warning pull-right" type="button" (click)="viewRedFlagAlertDetails(objProviderSummary.TAX_ID_NUMBER, objRedFlagAlert.AlertType)">View Details</button>
                                    </div>
                                    <div *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" class="col-md-6 p-1">
                                        <span> Quick Analysis Flag</span>
                                        <button class="btn btn-warning pull-right" type="button" (click)="ongetmoreinfo('QuickAnalysisFlagSection')">View Details</button>
                                    </div>
                                    <div *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" class="col-md-6 p-1">
                                        <span>Criminal Records</span>
                                        <button class="btn btn-warning pull-right" type="button" (click)="ongetmoreinfo('CriminalSection')">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="objProviderSummary.PARTY_FIRST_NAME == 'Bryan'" class="col-sm-6 col-md-12 mb-2">
                        <div class="br-5 mb-2">
                            <div class="card card-accent-success mb-0">
                                <div class="card-header font-large">
                                    Bill Statistics
                                </div>
                                <div class="card-block">
                                    <table class="table ktable">
                                        <thead>
                                            <tr>
                                                <th>YEAR</th>
                                                <th>BILL COUNT</th>
                                                <th>BILLED AMT</th>
                                                <th>PAID AMT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let objBillStatistics of resBillStatistics">
                                                <td [textContent]="objBillStatistics.BILL_YEAR">2011</td>
                                                <td [textContent]="objBillStatistics.TOTAL_MEDICAL_BILLS">3400</td>
                                                <td [textContent]="objBillStatistics.TOTAL_BILLED_AMOUNT">$56,853,722.00</td>
                                                <td [textContent]="objBillStatistics.TOTAL_PAID_AMOUNT">$56,853,722.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 mb-2">
                        <div class="br-5">
                            <div class="card card-accent-warning mb-0">
                                <div class="card-header font-large">
                                    Chiropractic Alerts
                                </div>
                                <div class="card-block">
                                    <div class="col-xs-12 p-0" *ngFor="let objChiropracticAlert of resChiropracticAlerts">
                                        <div class="mv-2">
                                            <b [textContent]="objChiropracticAlert.dataTitle | uppercase">Twitter Trends(200)</b>
                                        </div>
                                        <div class="mb-q" *ngIf="objChiropracticAlert.action">
                                            <b [textContent]="objChiropracticAlert.action">Latest tweet</b>
                                        </div>
                                        <div class="mb-2">
                                            <small [textContent]="objChiropracticAlert.nameAndCity">January 26 2016</small>
                                        </div>
                                        <div class="mb-q" *ngIf="objChiropracticAlert.allegedViolations">
                                            "
                                            <span [textContent]="objChiropracticAlert.allegedViolations"></span>"
                                        </div>
                                        <div class="mb-2" *ngIf="objChiropracticAlert.dateFiled">
                                            <small [textContent]="objChiropracticAlert.dateFiled | date : 'MMMM dd yyyy'">January 26 2016</small>
                                        </div>
                                        <div class="mb-q" *ngIf="objChiropracticAlert.violations">
                                            "
                                            <span [textContent]="objChiropracticAlert.violations"></span>"
                                        </div>
                                        <div class="mb-2" *ngIf="objChiropracticAlert.effectiveDate">
                                            <small [textContent]="objChiropracticAlert.effectiveDate | date : 'MMMM dd yyyy'">January 26 2016</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 mb-2" *ngIf="this.resSocial && (this.resSocial.twitter || this.resSocial.instagram)">
                        <div class="br-5">
                            <div class="card card-accent-info mb-0">
                                <div class="card-header font-large">
                                    Social
                                </div>
                                <div class="card-block">
                                    <div class="col-md-6 col-xs-12 pl-0" [class.col-lg-4]="this.resSocial.rssFeed && this.resSocial.rssFeed.length>=(pageNumber*4)"
                                        *ngIf="this.resSocial.twitter && this.resSocial.twitter.length>(pageNumber*3)">
                                        <div class="mb-q">
                                            <b style="font-size: 1rem;">Twitter</b>
                                        </div>
                                        <div *ngFor="let objSocial of this.resSocial.twitter.slice((pageNumber*3)-3, pageNumber*3)">
                                            <div>
                                                <!-- <small [textContent]="objSocial.created_at_std | dateutc | date : 'MMMM dd yyyy hh:mm a'"></small> -->
                                                <small [textContent]="objSocial.created_at_std | dateutc | date : 'longDate'"></small>
                                                <small [textContent]="objSocial.created_at_std | dateutc | date : 'shortTime'"></small>
                                            </div>
                                            <div class="mb-1" *ngIf="objSocial.content" [innerHTML]="objSocial.content.content_body">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12 pl-0" [class.col-lg-4]="this.resSocial.rssFeed && this.resSocial.rssFeed.length>=(pageNumber*4)"
                                        *ngIf="this.resSocial.instagram && this.resSocial.instagram.length>=(pageNumber*2)">
                                        <div class="mb-q">
                                            <b style="font-size: 1rem;">Instagram</b>
                                        </div>
                                        <div *ngFor="let objSocial of this.resSocial.instagram.slice((pageNumber*2)-2, pageNumber*2)">
                                            <div>
                                                <!-- <small [textContent]="objSocial.created_at_std | dateutc | date : 'MMMM dd yyyy hh:mm a'"></small> -->
                                                <small [textContent]="objSocial.created_at_std | dateutc | date : 'longDate'"></small>
                                                <small [textContent]="objSocial.created_at_std | dateutc | date : 'shortTime'"></small>
                                            </div>
                                            <div class="mb-1" *ngIf="objSocial.content" [innerHTML]="objSocial.content.content_body">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 pl-0" *ngIf="this.resSocial.rssFeed && this.resSocial.rssFeed.length>=(pageNumber*4)">
                                        <div class="mb-q">
                                            <b style="font-size: 1rem;">RSS</b>
                                        </div>
                                        <div *ngFor="let objSocial of this.resSocial.rssFeed.slice((pageNumber*4)-4, pageNumber*4)">
                                            <div>
                                                <!-- <small [textContent]="objSocial.created_at_std | dateutc | date : 'MMMM dd yyyy hh:mm a'"></small> -->
                                                <small [textContent]="objSocial.created_at_std | dateutc | date : 'longDate'"></small>
                                                <small [textContent]="objSocial.created_at_std | dateutc | date : 'shortTime'"></small>
                                            </div>
                                            <div class="mb-1" *ngIf="objSocial.content" [innerHTML]="objSocial.content.content_title? objSocial.content.content_title : objSocial.content.content_body">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12 mb-2" *ngIf="this.resSocial && !(this.resSocial.twitter || this.resSocial.instagram) && (this.resSocial.twitterHealthCareFraud || this.resSocial.twitterMedicalBillings)">
                        <div class="br-5">
                            <div class="card card-accent-info mb-0">
                                <div class="card-header font-large">
                                    Social
                                    <button [routerLink]="['../social-networks/provider']" [queryParams]="{ provider_firstname: objProviderSummary.PARTY_FIRST_NAME,provider_lastname:objProviderSummary.PARTY_LAST_NAME }"
                                        class="btn btn-primary float-xs-right" type="button">Open Social Graph</button>
                                </div>
                                <div class="card-block">
                                    <div class="col-xs-12 pl-0">
                                        <div class="mb-q">
                                            <b style="font-size: 1rem;">Tweets</b>
                                        </div>
                                        <div *ngIf="this.resSocial.twitterHealthCareFraud && (this.resSocial.twitterHealthCareFraud.length>=(pageNumber*2))">
                                            <div *ngFor="let objSocial of this.resSocial.twitterHealthCareFraud.slice((pageNumber*2)-2, pageNumber*2)">
                                                <div class="mt-1">
                                                    <small [textContent]="objSocial.createdDate | date : 'MMMM dd yyyy hh:mm a'"></small>
                                                </div>
                                                <div class="mb-1" *ngIf="objSocial.text" [innerHTML]="objSocial.text">
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="this.resSocial.twitterMedicalBillings && this.resSocial.twitterMedicalBillings.length>=(pageNumber*2)">
                                            <div *ngFor="let objSocial of this.resSocial.twitterMedicalBillings.slice((pageNumber*2)-2, pageNumber*2)">
                                                <div class="mt-1">
                                                    <small [textContent]="objSocial.createdDate | date : 'MMMM dd yyyy hh:mm a'"></small>
                                                </div>
                                                <div class="mb-1" *ngIf="objSocial.text" [innerHTML]="objSocial.text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
    <!-- moreInformation model start -->
    <modal #moreInfoModal>
        <modal-header>
            <h1>Bryan Aun</h1>
        </modal-header>
        <modal-content>
            <div style="width:100%;height:400px;overflow:auto;">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>FirstName</th>
                        <th>MiddleName</th>
                        <th>LastName</th>
                        <th>BirthDate</th>
                        <th>PersonSSN</th>
                    </tr>
                    <tr *ngFor="let subject of responcesubjectInfo; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{subject.PersonName.FirstName}}</td>
                        <td>{{subject.PersonName.MiddleName}}</td>
                        <td>{{subject.PersonName.LastName}}</td>
                        <td>
                            <span *ngIf="subject.PersonProfile.PersonBirthDate">{{subject.PersonProfile.PersonBirthDate}}</span>
                        </td>
                        <td>
                            <span *ngIf="subject.PersonSSN">{{subject.PersonSSN.SSN}}</span>
                        </td>
                    </tr>

                </table>
            </div>

        </modal-content>
        <!-- <modal-footer>
            <button class="btn btn-primary" (click)="moreInfoModal.close()">close</button>
        </modal-footer> -->
    </modal>
    <!-- moreInformation model end -->
    <!-- BusinessAtSubjectAddressSection Model start -->
    <modal #BusinessAtSubjectAddressSectionModal>
        <modal-header>
            <h1>Bryan Aun</h1>
        </modal-header>
        <modal-content>
            <div style="width:100%;height:400px;overflow:auto;">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Address</th>
                        <th>DUNSNumber</th>
                    </tr>
                    <tr *ngFor="let bsubjectaddress of responceSubjectAddressInfo; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{bsubjectaddress.DunBradstreetRecord.PersonInfo.PersonName.FirstName}}</td>
                        <td>{{bsubjectaddress.DunBradstreetRecord.PersonInfo.PersonName.LastName}}</td>
                        <td>{{bsubjectaddress.SubjectAddress.Street}} {{bsubjectaddress.SubjectAddress.City}} {{bsubjectaddress.SubjectAddress.State}}
                            {{bsubjectaddress.SubjectAddress.ZipCode}} {{bsubjectaddress.SubjectAddress.County}}</td>
                        <td>
                            <span *ngIf="bsubjectaddress.DunBradstreetRecord.BusinessInfo">{{bsubjectaddress.DunBradstreetRecord.BusinessInfo.DUNSNumber}}</span>
                        </td>

                    </tr>

                </table>
            </div>
        </modal-content>
        <!-- <modal-footer>
            <button class="btn btn-primary" (click)="BusinessAtSubjectAddressSectionModal.close()">close</button>
        </modal-footer> -->
    </modal>
    <!-- BusinessAtSubjectAddressSection Model end -->
    <!-- LicenseSection Model start -->
    <modal #LicenseSectionModal>
        <modal-header>
            <h1>Bryan Aun</h1>
        </modal-header>
        <modal-content>
            <div style="width:100%;height:400px;overflow:auto;">
                <table class="table">
                    <tr>
                        <th>#</th>

                        <th>FullName</th>
                        <th>Address</th>
                        <th>LicenseNumber</th>
                        <th>LicenseState</th>
                        <th>LicensingAgency</th>
                    </tr>
                    <tr *ngFor="let professionalLicense of responceLicenseSectionInfo; let i=index">
                        <td>{{i+1}}</td>
                        <!-- <td>{{professionalLicense.PersonInfo.PersonName.FirstName}}</td>
                    <td>{{professionalLicense.PersonInfo.PersonName.LastName}}</td> -->
                        <td>{{professionalLicense.PersonInfo.PersonName.FullName}}</td>
                        <td>{{professionalLicense.PersonalAddresses.Address.Street}} {{professionalLicense.PersonalAddresses.Address.City}}
                            {{professionalLicense.PersonalAddresses.Address.State}} {{professionalLicense.PersonalAddresses.Address.ZipCode}}
                            {{professionalLicense.PersonalAddresses.Address.County}}
                        </td>
                        <td>{{professionalLicense.ProLicenseInfo.CertificationInfo.LicenseNumber}}</td>
                        <td>{{professionalLicense.ProLicenseInfo.LicenseState}}</td>
                        <td>{{professionalLicense.ProLicenseInfo.LicensingAgency}}</td>
                    </tr>

                </table>
            </div>

        </modal-content>
        <!-- <modal-footer>
            <button class="btn btn-primary" (click)="LicenseSectionModal.close()">close</button>
        </modal-footer> -->
    </modal>
    <!-- LicenseSection Model end -->
    <!-- SSNAddressFraudSection Modal start -->
    <modal #SSNAddressFraudSectionModal>
        <modal-header>
            <h1>Bryan Aun</h1>
        </modal-header>
        <modal-content>
            <div style="width:100%;height:400px;overflow:auto;">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>SSN</th>
                        <th>Address</th>
                        <th>AlertIndicator</th>
                        <th>AlertDescription</th>
                    </tr>
                    <tr *ngFor="let SSNAddressFraud of responceSSNAddressFraudSectionInfo; let i=index">
                        <td>1 </td>
                        <td>{{SSNAddressFraud["SSNAlert"]["SSN"]["SSN"]}}</td>
                        <td>{{SSNAddressFraud.AddressAlert.Address.Street}} {{SSNAddressFraud.AddressAlert.Address.City}}
                            {{SSNAddressFraud.AddressAlert.Address.State}} {{SSNAddressFraud.AddressAlert.Address.ZipCode}}

                        </td>
                        <td>{{SSNAddressFraud.SSNAlert.AlertIndicator}}</td>
                        <td>{{SSNAddressFraud.SSNAlert.AlertDescription}}</td>

                    </tr>

                </table>
            </div>

        </modal-content>
        <!-- <modal-footer>
            <button class="btn btn-primary" (click)="SSNAddressFraudSectionModal.close()">close</button>
        </modal-footer> -->
    </modal>
    <!-- SSNAddressFraudSection Modal end -->
    <!-- QuickAnalysisFlagSection Modal Start -->
    <modal #QuickAnalysisFlagSectionModal>
        <modal-header>
            <h1>Bryan Aun</h1>
        </modal-header>
        <modal-content>
            <div *ngIf="responceQuickAnalysisFlagSectionInfo" style="width:100%;height:400px;overflow:auto;">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Quick Analysis Flag Name</th>
                        <th>Risk Flag</th>
                    </tr>

                    <tr *ngFor="let quickanalysis of responceQuickAnalysisFlagSectionInfo; let i=index">

                        <td>{{i+1}}</td>
                        <td>{{quickanalysis.riskname}}</td>
                        <td>{{quickanalysis.riskvalue}}</td>

                    </tr>

                </table>
            </div>

        </modal-content>
        <!-- <modal-footer>
            <button class="btn btn-primary" (click)="QuickAnalysisFlagSectionModal.close()">close</button>
        </modal-footer> -->
    </modal>
    <!-- QuickAnalysisFlagSection Modal End -->

    <!-- CriminalSection Modal Start -->
    <modal #CriminalSectionModal>
        <modal-header>
            <h1>Bryan Aun</h1>
        </modal-header>
        <modal-content>
            <div *ngIf="responceCriminalSectionInfo" style="width:100%;height:400px;overflow:auto;">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>BirthDate</th>
                        <th>SourceName</th>
                        <th>SourceCounty</th>
                        <th>SourceState</th>
                        <th>Source</th>
                    </tr>

                    <tr *ngFor="let criminal of responceCriminalSectionInfo; let i=index">

                        <td>{{i+1}}</td>
                        <td>{{criminal.DefendantInfo.PersonInfo.PersonName.FirstName}}</td>
                        <td>{{criminal.DefendantInfo.PersonInfo.PersonName.LastName}}</td>
                        <td>{{criminal.DefendantInfo.PersonInfo.PersonProfile.PersonBirthDate}}</td>
                        <td>{{criminal.SourceName}}</td>
                        <td>{{criminal.SourceCounty}}</td>
                        <td>{{criminal.SourceState}}</td>
                        <td>{{criminal.Source}}</td>
                    </tr>

                </table>
            </div>
        </modal-content>
        <!-- <modal-footer>
            <button class="btn btn-primary" (click)="CriminalSectionModal.close()">close</button>
        </modal-footer> -->
    </modal>
    <!-- CriminalSection Modal End -->

</main>

<footer class="footer kdark">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>