<!-- <header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->
<app-header-default></app-header-default>

<div id="facet-sidebar" class="sidebar apatics-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Pharmacy Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedPHN">
                                <span class="input-group-addon" *ngIf="!searchedPHN || searchedPHN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPHN=''" *ngIf="searchedPHN && searchedPHN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.pharmacyNames | searchFacets:searchedPHN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Pharmacy Location City</a>
                <ul class="nav-dropdown-items" [hidden]="ad">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedPLC">
                                <span class="input-group-addon" *ngIf="!searchedPLC || searchedPLC.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPLC=''" *ngIf="searchedPLC && searchedPLC.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.pharmacyLocationCities | searchFacets:searchedPLC">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Pharmacy Zip Code</a>
                <ul class="nav-dropdown-items" [hidden]="ad">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedPZC">
                                <span class="input-group-addon" *ngIf="!searchedPZC || searchedPZC.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPZC=''" *ngIf="searchedPZC && searchedPZC.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.pharmacyZipCodes | searchFacets:searchedPZC">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 3)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Billed Amount</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item ">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="billedAmountRange" [config]="billedAmountConfig" (ngModelChange)="onChangeBilledAmount($event)"></nouislider>
                        <div class="range-text" [textContent]="billedAmountRange"></div>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Prescriber Last Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedPLN">
                                <span class="input-group-addon" *ngIf="!searchedPLN || searchedPLN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPLN=''" *ngIf="searchedPLN && searchedPLN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.prescriberLastNames | searchFacets:searchedPLN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 4)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Claim Counts</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedCC">
                                <span class="input-group-addon" *ngIf="!searchedCC || searchedCC.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedCC=''" *ngIf="searchedCC && searchedCC.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.claimCounts | searchFacets:searchedCC">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 5)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Claim Amount</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="claimAmountRange" [config]="claimAmountConfig" (ngModelChange)="onChangeClaimAmount($event)"></nouislider>
                        <div class="range-text" [textContent]="claimAmountRange"></div>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Dea Type</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedDT">
                                <span class="input-group-addon" *ngIf="!searchedDT || searchedDT.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedDT=''" *ngIf="searchedDT && searchedDT.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.deaTypes | searchFacets:searchedDT">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 6)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>ESI</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">ESI</h3>-->
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search ESI" [(ngModel)]="searchESIText"
                                    (keyup.enter)="searchESI()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchESI()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.pharmacyNames | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Pharmacy Names':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.pharmacyLocationCities | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Pharmacy Location Cities':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.pharmacyZipCodes | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 3)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Pharmacy Zip Codes':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.prescriberLastNames | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 4)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Prescriber Last Names':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.claimCounts | selectedFacets" (click)="removeSelectedFacet(objFacet, 5)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Claim Counts':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.deaTypes | selectedFacets" (click)="removeSelectedFacet(objFacet, 6)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Dea Types':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngIf="billedAmountRange && billedAmountRange.length==2 && (billedAmountRange[0]>0 || billedAmountRange[1]<5000)"
                            (click)="billedAmountRange=[0,5000]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="billedAmountRange[0] + ' - ' + billedAmountRange[1]"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngIf="claimAmountRange && claimAmountRange.length==2 && (claimAmountRange[0]>0 || claimAmountRange[1]<90000)"
                            (click)="claimAmountRange=[0,90000]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="claimAmountRange[0] + ' - ' + claimAmountRange[1]"></span>                           
                       </button>
                    </div>
                    <div class="col-xs-12 p-0 text-xs-right page-info">
                        <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersESI.length) + ' of ' + totalRecords + ' items'"></span>
                    </div>
                    <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                        <h4>No result found.</h4>
                    </div>
                    <div class="col-xs-12 p-0 fda-list-container" [hidden]="totalRecords==0">
                        <div class="card m-b-1" *ngFor="let objESI of asyncESI | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
                            <div class="card-block p-1">
                                <div class="col-xs-12 p-0">
                                    <button type="button" class="btn btn-primary pull-left mr-1" (click)="objESI.isOpen=!objESI.isOpen">
                                        <i class="fa" [ngClass]="objESI.isOpen ? 'fa-minus' : 'fa-plus'"></i>
                                    </button>
                                    <div class="pull-left" *ngIf="objESI.pharmacyName">
                                        <span class="data-title">Pharmacy Name:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmacyName | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmacyLocationCity">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharmacy Location City:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmacyLocationCity | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmacyZipCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharmacy Zip Code:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmacyZipCode | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.billedAmount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Billed Amount:</span>
                                        <div class="pull-left" [innerHTML]="objESI.billedAmount | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.prescriberLastName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Prescriber Last Name:</span>
                                        <div class="pull-left" [innerHTML]="objESI.prescriberLastName | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.claimCount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Claim Count:</span>
                                        <div class="pull-left" [innerHTML]="objESI.claimCount | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.claimAmount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Claim Amount:</span>
                                        <div class="pull-left" [innerHTML]="objESI.claimAmount | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.deaType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Dea Type:</span>
                                        <div class="pull-left" [innerHTML]="objESI.deaType | highlight:searchESIText"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0" *ngIf="objESI.isOpen">
                                    <!---->
                                    <div class="pull-left" *ngIf="objESI.pharmacyAddress">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharmacy Address:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmacyAddress | highlight:searchESIText"></div>
                                    </div>

                                    <div class="pull-left" *ngIf="objESI.pharmacyLocationState">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharmacy Location State:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmacyLocationState | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmacyTelephoneNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharmacy Telephone Number:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmacyTelephoneNumber | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmCorpAddress">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharm Corp Address:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmCorpAddress | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmCorpAddress2">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharm Corp Address2 :</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmCorpAddress2 | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmCorpCity">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharm Corp City:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmCorpCity | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmCorpState">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharm Corp State:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmCorpState | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmCorpZipCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharm Corp Zip Code:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmCorpZipCode | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.taxID">
                                        <div class="divider">|</div>
                                        <span class="data-title">Tax ID:</span>
                                        <div class="pull-left" [innerHTML]="objESI.taxID | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.dateFilled">
                                        <div class="divider">|</div>
                                        <span class="data-title">Date Filled:</span>
                                        <div class="pull-left" [innerHTML]="objESI.dateFilled.substring(6, objESI.dateFilled.length-7) | date : 'MM-dd-yyyy' | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.nDCNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">NDC Number:</span>
                                        <div class="pull-left" [innerHTML]="objESI.nDCNumber | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.drugName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Drug Name:</span>
                                        <div class="pull-left" [innerHTML]="objESI.drugName | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.quantity">
                                        <div class="divider">|</div>
                                        <span class="data-title">Quantity:</span>
                                        <div class="pull-left" [innerHTML]="objESI.quantity | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.daysSupply">
                                        <div class="divider">|</div>
                                        <span class="data-title">Days Supply:</span>
                                        <div class="pull-left" [innerHTML]="objESI.daysSupply | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.costBasis">
                                        <div class="divider">|</div>
                                        <span class="data-title">Cost Basis:</span>
                                        <div class="pull-left" [innerHTML]="objESI.costBasis | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.ingrediantCost">
                                        <div class="divider">|</div>
                                        <span class="data-title">Ingrediant Cost:</span>
                                        <div class="pull-left" [innerHTML]="objESI.ingrediantCost | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.salesTax">
                                        <div class="divider">|</div>
                                        <span class="data-title">Sales Tax:</span>
                                        <div class="pull-left" [innerHTML]="objESI.salesTax | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.patientFirstName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Patient Name:</span>
                                        <div class="pull-left" [innerHTML]="objESI.patientFirstName + ' ' + objESI.patientLastName | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.groupNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Group Number:</span>
                                        <div class="pull-left" [innerHTML]="objESI.groupNumber | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.prescriberId">
                                        <div class="divider">|</div>
                                        <span class="data-title">Prescriber Id:</span>
                                        <div class="pull-left" [innerHTML]="objESI.prescriberId | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.diagnosisCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Diagnosis Code:</span>
                                        <div class="pull-left" [innerHTML]="objESI.diagnosisCode | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.cardholderFirstName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Cardholder Name:</span>
                                        <div class="pull-left" [innerHTML]="objESI.cardholderFirstName + ' ' + objESI.cardholderLastName | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.datePrescriptionWritten">
                                        <div class="divider">|</div>
                                        <span class="data-title">Date Prescription Written:</span>
                                        <div class="pull-left" [innerHTML]="objESI.datePrescriptionWritten | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.dispenseAsWritten">
                                        <div class="divider">|</div>
                                        <span class="data-title">Dispense As Written:</span>
                                        <div class="pull-left" [innerHTML]="objESI.dispenseAsWritten | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.eligibilityClarificationCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Eligibility Clarification Code:</span>
                                        <div class="pull-left" [innerHTML]="objESI.eligibilityClarificationCode | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.compoundCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Compound Code:</span>
                                        <div class="pull-left" [innerHTML]="objESI.compoundCode | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.numberOfRefillsAuthorized">
                                        <div class="divider">|</div>
                                        <span class="data-title">Number Of Refills Authorized:</span>
                                        <div class="pull-left" [innerHTML]="objESI.numberOfRefillsAuthorized | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.levelOfService">
                                        <div class="divider">|</div>
                                        <span class="data-title">Level Of Service:</span>
                                        <div class="pull-left" [innerHTML]="objESI.levelOfService | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.prescriptionOriginCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Prescription Origin Code:</span>
                                        <div class="pull-left" [innerHTML]="objESI.prescriptionOriginCode | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.primaryPrescriber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Primary Prescriber:</span>
                                        <div class="pull-left" [innerHTML]="objESI.primaryPrescriber | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.drugType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Drug Type:</span>
                                        <div class="pull-left" [innerHTML]="objESI.drugType | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.unitDoseIndicator">
                                        <div class="divider">|</div>
                                        <span class="data-title">Unit Dose Indicator:</span>
                                        <div class="pull-left" [innerHTML]="objESI.unitDoseIndicator | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.basisOfDaysSupplyDetermination">
                                        <div class="divider">|</div>
                                        <span class="data-title">Basis Of Days Supply Determination:</span>
                                        <div class="pull-left" [innerHTML]="objESI.basisOfDaysSupplyDetermination | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.fullAWP">
                                        <div class="divider">|</div>
                                        <span class="data-title">Full AWP:</span>
                                        <div class="pull-left" [innerHTML]="objESI.fullAWP | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.claimType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Claim Type:</span>
                                        <div class="pull-left" [innerHTML]="objESI.claimType | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.adjudicationDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">AdjudicationDate:</span>
                                        <div class="pull-left" [innerHTML]="objESI.adjudicationDate.substring(6, objESI.adjudicationDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.adminFee">
                                        <div class="divider">|</div>
                                        <span class="data-title">Admin Fee:</span>
                                        <div class="pull-left" [innerHTML]="objESI.adminFee | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.incentiveFee">
                                        <div class="divider">|</div>
                                        <span class="data-title">Incentive Fee:</span>
                                        <div class="pull-left" [innerHTML]="objESI.incentiveFee | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.formulary Flag">
                                        <div class="divider">|</div>
                                        <span class="data-title">FormularyFlag:</span>
                                        <div class="pull-left" [innerHTML]="objESI.formularyFlag | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.therapeuticClassAhfs">
                                        <div class="divider">|</div>
                                        <span class="data-title">Therapeutic Class Ahfs:</span>
                                        <div class="pull-left" [innerHTML]="objESI.therapeuticClassAhfs | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.pharmacyType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharmacy Type:</span>
                                        <div class="pull-left" [innerHTML]="objESI.pharmacyType | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.billedBasisCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Billed Basis Code:</span>
                                        <div class="pull-left" [innerHTML]="objESI.billedBasisCode | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.paidDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Paid Date:</span>
                                        <div class="pull-left" [innerHTML]="objESI.paidDate.substring(6, objESI.paidDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.drugStrength">
                                        <div class="divider">|</div>
                                        <span class="data-title">Drug Strength:</span>
                                        <div class="pull-left" [innerHTML]="objESI.drugStrength | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.dOI">
                                        <div class="divider">|</div>
                                        <span class="data-title">DOI:</span>
                                        <div class="pull-left" [innerHTML]="objESI.dOI.substring(6, objESI.dOI.length-7) | date : 'MM-dd-yyyy' | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.feeAmount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Fee Amount:</span>
                                        <div class="pull-left" [innerHTML]="objESI.feeAmount | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.claimNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Claim Number:</span>
                                        <div class="pull-left" [innerHTML]="objESI.claimNumber | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.totalClaimCount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Total Claim Count:</span>
                                        <div class="pull-left" [innerHTML]="objESI.totalClaimCount | highlight:searchESIText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objESI.compoundValue">
                                        <div class="divider">|</div>
                                        <span class="data-title">Compound Value:</span>
                                        <div class="pull-left" [innerHTML]="objESI.compoundValue | highlight:searchESIText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" [hidden]="totalRecords==0">
                        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                        <div class="pagination-container">
                            <pagination-controls (pageChange)="searchESIRecordsWithFilters($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<footer class="footer">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>