<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header>

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#">Product NDC</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <input class="form-control" type="text" placeholder="Search" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">hi</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#">Product Type Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <input class="form-control" type="text" placeholder="Search" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">hi</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#">Proprietary Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <input class="form-control" type="text" placeholder="Search" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">hi</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#">Non Proprietary Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <input class="form-control" type="text" placeholder="Search" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">hi</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#">DEA Schedule</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <input class="form-control" type="text" placeholder="Search" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">hi</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
</main>

<footer class="footer">
    <span class="text-left">
        <a>SolrPOC</a> &copy; 2017 creativeLabs.
    </span>
    <span class="float-xs-right">
        Powered by <a>SolrPOC</a>
    </span>
</footer>