<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header>


<!-- Main content -->
<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid">

        <router-outlet></router-outlet>
    </div>
</main>



<footer class="footer">
    <span class="text-left">
        <a>SolrPOC</a> &copy; 2017 creativeLabs.
    </span>
    <span class="float-xs-right">
        Powered by <a>SolrPOC</a>
    </span>
</footer>