<header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid custom-container">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <!--<a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>-->
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right hidden-md-down right-nav">
            <li class="nav-item">
                <a style="cursor:pointer" class="pointer ap-blue nav-link" (click)="logOut()">LOG OUT</a>
            </li>

        </ul>
    </div>
</header>