<app-header></app-header>

<div id="facet-sidebar" class="sidebar sidebar-kdark">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Primary Provider</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedProv">
                                <span class="input-group-addon" *ngIf="!searchedProv || searchedProv.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedProv=''" *ngIf="searchedProv && searchedProv.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let prov of activeFilters['providers']|searchFacets:searchedProv">
                        <a class="nav-link p-r-5" (click)="changeProvSelection(prov)">
                            <i class="fa" [ngClass]="prov.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="prov.name"></span>
                            <span class="tag tag-info" [textContent]="prov.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Secondary Provider</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedSProv">
                                <span class="input-group-addon" *ngIf="!searchedSProv || searchedSProv.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedSProv=''" *ngIf="searchedSProv && searchedSProv.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let sprov of activeFilters['secondary_providers']|searchFacets:searchedSProv">
                        <a class="nav-link p-r-5" (click)="changeSecProvSelection(sprov)">
                            <i class="fa" [ngClass]="sprov.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="sprov.name"></span>
                            <span class="tag tag-info" [textContent]="sprov.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Patient</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedPatient">
                                <span class="input-group-addon" *ngIf="!searchedPatient || searchedPatient.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPatient=''" *ngIf="searchedPatient && searchedPatient.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let patient of activeFilters['patients']|searchFacets:searchedPatient">
                        <a class="nav-link p-r-5" (click)="changePatientSelection(patient)">
                            <i class="fa" [ngClass]="patient.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="patient.name"></span>
                            <span class="tag tag-info" [textContent]="patient.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main kdark" id="main-container">
    <div *ngIf="isShowLoad" class="loading">Loading&#8230;</div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['../../home']">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Social Networks</span>
        </li>
        <!-- Breadcrumb Menu-->
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="m-t-2">
                <div class="row">
                    <div class="form-group mb-0 col-md-12">
                        <div class="input-group">
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search ProviderSummary" [(ngModel)]="searchQuery">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" (click)="searchProviderSummary()">
                                    <i class="fa fa-search"></i> Search</button>
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" (click)="removeSearchQuery()">
                                    <i class="fa fa-refresh"></i>Reset</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['providers'] | selectedFacets"
                            (click)="changeProvSelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Name':objFacet.name"></span>
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['secondary_providers'] | selectedFacets"
                            (click)="changeSecProvSelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['patients'] | selectedFacets"
                            (click)="changePatientSelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngIf="this.activeFilters['searchQuery']" (click)="removeSearchQuery()">
                            <i class="fa fa-close"></i>
                            <span [textContent]="this.activeFilters['searchQuery']"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-2">
                        <!-- Nav tabs -->
                        <tabset class="kdark tab-container">
                            <tab heading="Graph View">
                                <div class="pull-right" id="network-legend">
                                    <div class="legend">
                                        <p class="node-name">
                                            <span class="key-dot" style="background: rgb(109, 206, 158);"></span>
                                            <label class="valign-top">Primary Provider</label>
                                        </p>
                                    </div>
                                    <div class="legend">
                                        <p class="node-name">
                                            <span class="key-dot" style="background: rgb(255, 117, 110);"></span>
                                            <label class="valign-top">Secondary Provider</label>
                                        </p>
                                    </div>
                                    <div class="legend">
                                        <p class="node-name">
                                            <span class="key-dot" style="background: rgb(104, 189, 246);"></span>
                                            <label class="valign-top">Patient</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div id="network-graph">Network Graph</div>
                            </tab>
                            <tab heading="Report View">
                                <div class="row">
                                    <div class="card br-5 mb-2 card-accent-primary mb-0">
                                        <div class="card-header"># of times a Patient has collaborated with the same Provider</div>
                                        <div class="card-block">
                                            <div class="report-table-container">
                                                <table class="table table-bordered ktable">
                                                    <thead>
                                                        <tr>
                                                            <th>Patient</th>
                                                            <th>Provider</th>
                                                            <th>Count</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr *ngFor="let tod of tableOneData">
                                                            <td>{{tod.Patient}}</td>
                                                            <td>{{tod.Provider}}</td>
                                                            <td>{{tod.count_no}}</td>
                                                            <td>{{tod.min_year}}-{{tod.max_year}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card br-5 mb-2 card-accent-primary mb-0">
                                        <div class="card-header"># of times a Patient has collaborated with the same Secondary Provider</div>
                                        <div class="card-block">
                                            <div class="report-table-container">
                                                <table class="table table-bordered ktable">
                                                    <thead>
                                                        <tr>
                                                            <th>Patient</th>
                                                            <th>Secondary Provider</th>
                                                            <th>Count</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr *ngFor="let tod of tableTwoData">
                                                            <td>{{tod.Patient}}</td>
                                                            <td>{{tod.Secondary_Provider}}</td>
                                                            <td>{{tod.count_no}}</td>
                                                            <td>{{tod.min_year}}-{{tod.max_year}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card br-5 mb-2 card-accent-primary mb-0">
                                        <div class="card-header"># of times a Provider and an Secondary Provider collaborated in a Patient</div>
                                        <div class="card-block">
                                            <div class="report-table-container">
                                                <table class="table table-bordered ktable">
                                                    <thead>
                                                        <tr>
                                                            <th>Patient</th>
                                                            <th>Provider</th>
                                                            <th>Secondary Provider</th>
                                                            <th>Count</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr *ngFor="let tod of tableThreeData">
                                                            <td>{{tod.Patient}}</td>
                                                            <td>{{tod.Provider}}</td>
                                                            <td>{{tod.Secondary_Provider}}</td>
                                                            <td>{{tod.count_no}}</td>
                                                            <td>{{tod.min_year}}-{{tod.max_year}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>


<footer class="footer kdark">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>