<!-- <header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->
<app-header-default></app-header-default>

<div id="facet-sidebar" class="sidebar apatics-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Product NDC</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedPNDC">
                                <span class="input-group-addon" *ngIf="!searchedPNDC || searchedPNDC.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPNDC=''" *ngIf="searchedPNDC && searchedPNDC.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.productNDCs | searchFacets:searchedPNDC">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Product Type Name</a>
                <ul class="nav-dropdown-items" [hidden]="ad">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedPTN">
                                <span class="input-group-addon" *ngIf="!searchedPTN || searchedPTN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPTN=''" *ngIf="searchedPTN && searchedPTN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.productTypeNames | searchFacets:searchedPTN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Proprietary Name</a>
                <ul class="nav-dropdown-items" [hidden]="ad">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedPN">
                                <span class="input-group-addon" *ngIf="!searchedPN || searchedPN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPN=''" *ngIf="searchedPN && searchedPN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.proprietaryNames | searchFacets:searchedPN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 3)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Non Proprietary Name</a>
                <ul class="nav-dropdown-items" [hidden]="ad">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group4" name="input2-group4" class="form-control" placeholder="Search" [(ngModel)]="searchedNPN">
                                <span class="input-group-addon" *ngIf="!searchedNPN || searchedNPN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedNPN=''" *ngIf="searchedNPN && searchedNPN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.nonProprietaryNames | searchFacets:searchedNPN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 4)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">DEA Schedule</a>
                <ul class="nav-dropdown-items" [hidden]="ad">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group5" name="input2-group5" class="form-control" placeholder="Search" [(ngModel)]="searchedDEAS">
                                <span class="input-group-addon" *ngIf="!searchedDEAS || searchedDEAS.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedDEAS=''" *ngIf="searchedDEAS && searchedDEAS.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.dEASchedules | searchFacets:searchedDEAS">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 5)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>FDA</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">FDA</h3>-->
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search FDA" [(ngModel)]="searchFDATecxt"
                                    (keyup.enter)="searchFDA()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchFDA()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0 pt-1 text-xs-right page-info">
                        <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersFDA.length) + ' of ' + totalRecords + ' items'"></span>
                    </div>
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.productNDCs | selectedFacets" (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.productTypeNames | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.proprietaryNames | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 3)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.nonProprietaryNames | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 4)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.dEASchedules | selectedFacets:searchedDEAS"
                            (click)="removeSelectedFacet(objFacet, 5)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name"></span>                           
                       </button>
                    </div>
                    <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                        <h4>No result found.</h4>
                    </div>
                    <div class="col-xs-12 p-0 fda-list-container" [hidden]="totalRecords==0">
                        <div class="card m-b-1" *ngFor="let objFDA of asyncFDA | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
                            <div class="card-block p-1">
                                <div class="col-xs-12 p-0">
                                    <button type="button" class="btn btn-primary pull-left mr-1" (click)="objFDA.isOpen=!objFDA.isOpen">
                                        <i class="fa" [ngClass]="objFDA.isOpen ? 'fa-minus' : 'fa-plus'"></i>
                                    </button>
                                    <div class="pull-left" *ngIf="objFDA.productTypeName">
                                        <span class="data-title">Product Type Name:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.productTypeName | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.proprietaryName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Proprietary Name:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.proprietaryName | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.nonProprietaryName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Non Proprietary Name:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.nonProprietaryName | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.dosageFormName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Dosage Form Name:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.dosageFormName | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.startMarketingDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Start Marketing Date:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.startMarketingDate | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.labelerName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Labeler Name:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.labelerName | highlight:searchFDATecxt"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0" *ngIf="objFDA.isOpen">
                                    <div class="pull-left" *ngIf="objFDA.productNDC">
                                        <span class="data-title">Product NDC:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.productNDC | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.proprietaryNamesUffix">
                                        <div class="divider">|</div>
                                        <span class="data-title">Proprietary Name Suffix:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.proprietaryNamesUffix | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.routeName">
                                        <div class="divider">|</div>
                                        <span class="data-title">RouteName:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.routeName | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.endMarketingDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">End Marketing Date:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.endMarketingDate | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.marketingCategoryName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Marketing Category Name :</span>
                                        <div class="pull-left" [innerHTML]="objFDA.marketingCategoryName | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.applicationNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Application Number:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.applicationNumber | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.substanceName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Substance Name:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.substanceName | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.activeNumeratorStrength">
                                        <div class="divider">|</div>
                                        <span class="data-title">Active Numerator Strength:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.activeNumeratorStrength | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.activeIngredUnit">
                                        <div class="divider">|</div>
                                        <span class="data-title">Active Ingred Unit:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.activeIngredUnit | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.pharmClasses">
                                        <div class="divider">|</div>
                                        <span class="data-title">Pharm Classes:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.pharmClasses | highlight:searchFDATecxt"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objFDA.dEASchedule">
                                        <div class="divider">|</div>
                                        <span class="data-title">DEA Schedule:</span>
                                        <div class="pull-left" [innerHTML]="objFDA.dEASchedule | highlight:searchFDATecxt"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" [hidden]="totalRecords==0">
                        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                        <div class="pagination-container">
                            <pagination-controls (pageChange)="searchFDARecordsWithFilters($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<footer class="footer">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>