<app-header></app-header>

<div id="facet-sidebar" class="sidebar sidebar-kdark">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Provider</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedProv">
                                <span class="input-group-addon" *ngIf="!searchedProv || searchedProv.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedProv=''" *ngIf="searchedProv && searchedProv.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let prov of activeFilters['providers']|searchFacets:searchedProv">
                        <a class="nav-link p-r-5" (click)="changeProvSelection(prov)">
                            <i class="fa" [ngClass]="prov.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="prov.name"></span>
                            <span class="tag tag-info" [textContent]="prov.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Attorney</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedAttorney">
                                <span class="input-group-addon" *ngIf="!searchedAttorney || searchedAttorney.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedAttorney=''" *ngIf="searchedAttorney && searchedAttorney.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let atto of activeFilters['attorneys'] | searchFacets:searchedAttorney">
                        <a class="nav-link p-r-5" (click)="changeAttorneySelection(atto)">
                            <i class="fa" [ngClass]="atto.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="atto.name==''?'Empty':atto.name"></span>
                            <span class="tag tag-info" [textContent]="atto.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Claimant</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedClaim">
                                <span class="input-group-addon" *ngIf="!searchedClaim || searchedClaim.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedClaim=''" *ngIf="searchedClaim && searchedClaim.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let claim of activeFilters['claimant'] | searchFacets:searchedClaim">
                        <a class="nav-link p-r-5" (click)="changeClaimantSelection(claim)">
                            <i class="fa" [ngClass]="claim.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="claim.name==''?'Empty':claim.name"></span>
                            <span class="tag tag-info" [textContent]="claim.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Claim Number</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedCNO">
                                <span class="input-group-addon" *ngIf="!searchedCNO || searchedCNO.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedCNO=''" *ngIf="searchedCNO && searchedCNO.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let cno of activeFilters['claimnumber'] | searchFacets:searchedCNO">
                        <a class="nav-link p-r-5" (click)="changeClaimNumberSelection(cno)">
                            <i class="fa" [ngClass]="cno.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="cno.name==''?'Empty':cno.name"></span>
                            <span class="tag tag-info" [textContent]="cno.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main kdark" id="main-container">
    <div *ngIf="isShowLoad" class="loading">Loading&#8230;</div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['../../home']">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Social Networks</span>
        </li>
        <!-- Breadcrumb Menu-->
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="m-t-2">
                <div class="row">
                    <div class="form-group mb-0 col-md-12">
                        <div class="input-group">
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search ProviderSummary" [(ngModel)]="searchQuery">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" (click)="searchProviderSummary()">
                                    <i class="fa fa-search"></i> Search</button>
                            </span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" (click)="removeSearchQuery()">
                                    <i class="fa fa-refresh"></i>Reset</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['providers'] | selectedFacets"
                            (click)="changeProvSelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Name':objFacet.name"></span>
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['attorneys'] | selectedFacets"
                            (click)="changeAttorneySelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['claimant'] | selectedFacets"
                            (click)="changeClaimantSelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['claimnumber'] | selectedFacets"
                            (click)="changeClaimNumberSelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                        </button>

                        <button class="btn btn-secondary active" type="button" *ngIf="this.activeFilters['searchQuery']" (click)="removeSearchQuery()">
                            <i class="fa fa-close"></i>
                            <span [textContent]="this.activeFilters['searchQuery']"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-2">
                        <!-- Nav tabs -->
                        <tabset class="kdark tab-container">
                            <tab heading="Graph View">
                                <div class="pull-right" id="network-legend">
                                    <div class="legend">
                                        <p class="node-name">
                                            <span class="key-dot" style="background: rgb(109, 206, 158);"></span>
                                            <label class="valign-top">Provider</label>
                                        </p>
                                    </div>
                                    <div class="legend">
                                        <p class="node-name">
                                            <span class="key-dot" style="background: rgb(255, 117, 110);"></span>
                                            <label class="valign-top">Attorney</label>
                                        </p>
                                    </div>
                                    <div class="legend">
                                        <p class="node-name">
                                            <span class="key-dot" style="background: rgb(104, 189, 246);"></span>
                                            <label class="valign-top">Claimant</label>
                                        </p>
                                    </div>
                                    <div class="legend">
                                        <p class="node-name">
                                            <span class="key-dot" style="background: rgb(222, 155, 249);"></span>
                                            <label class="valign-top">Claimnumber</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div id="network-graph">Network Graph</div>
                            </tab>
                            <tab heading="Report View">
                                <div class="row">
                                    <div class="card br-5 mb-2 card-accent-primary mb-0">
                                        <div class="card-header"># of times a Claimant has collaborated with the same Attorney</div>
                                        <div class="card-block">
                                            <div class="report-table-container">
                                                <table class="table table-bordered ktable">
                                                    <thead>
                                                        <tr>
                                                            <th>Claimant</th>
                                                            <th>Attorney</th>
                                                            <th>Count</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr *ngFor="let tod of tableOneData">
                                                            <td>{{tod.Claimant}}</td>
                                                            <td>{{tod.Attorney}}</td>
                                                            <td>{{tod.count_no}}</td>
                                                            <td>{{tod.min_year}}-{{tod.max_year}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card br-5 mb-2 card-accent-primary mb-0">
                                        <div class="card-header"># of times a Claimant has collaborated with the same Provider</div>
                                        <div class="card-block">
                                            <div class="report-table-container">
                                                <table class="table table-bordered ktable">
                                                    <thead>
                                                        <tr>
                                                            <th>Claimant</th>
                                                            <th>Provider</th>
                                                            <th>Count</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr *ngFor="let tod of tableTwoData">
                                                            <td>{{tod.Claimant}}</td>
                                                            <td>{{tod.Provider}}</td>
                                                            <td>{{tod.count_no}}</td>
                                                            <td>{{tod.min_year}}-{{tod.max_year}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card br-5 mb-2 card-accent-primary mb-0">
                                        <div class="card-header"># of times a Provider and an Attorney collaborated in a Claim</div>
                                        <div class="card-block">
                                            <div class="report-table-container">
                                                <table class="table table-bordered ktable">
                                                    <thead>
                                                        <tr>
                                                            <th>Provider</th>
                                                            <th>Attorney</th>
                                                            <th>Count</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr *ngFor="let tod of tableThreeData">
                                                            <td>{{tod.Provider}}</td>
                                                            <td>{{tod.Attorney}}</td>
                                                            <td>{{tod.count_no}}</td>
                                                            <td>{{tod.min_year}}-{{tod.max_year}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card br-5 mb-2 card-accent-primary mb-0">
                                        <div class="card-header"># of times a Claimant , Provider and an Attorney collaborated in a Claim</div>
                                        <div class="card-block">
                                            <div class="report-table-container">
                                                <table class="table table-bordered ktable">
                                                    <thead>
                                                        <tr>
                                                            <th>Claimant</th>
                                                            <th>Provider</th>
                                                            <th>Attorney</th>
                                                            <th>Count</th>
                                                            <th>Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr *ngFor="let tod of tableFourData">
                                                            <td>{{tod.Claimant}}</td>
                                                            <td>{{tod.Provider}}</td>
                                                            <td>{{tod.Attorney}}</td>
                                                            <td>{{tod.count_no}}</td>
                                                            <td>{{tod.min_year}}-{{tod.max_year}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>


<footer class="footer kdark">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>