<!-- <header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->
<app-header-default></app-header-default>

<div id="facet-sidebar" class="sidebar apatics-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Billed Amount</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item" *ngIf="resFacets.maxBilledAmount && resFacets.maxBilledAmount>0">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="billedAmountRange" [config]="billedAmountConfig" (ngModelChange)="onChangeBilledAmount($event)"></nouislider>
                        <div class="range-text" [textContent]="billedAmountRange"></div>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Distance</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item" *ngIf="resFacets.maxDistance && resFacets.maxDistance>0">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="distanceRange" [config]="distanceConfig" (ngModelChange)="onChangeDistance($event)"></nouislider>
                        <div class="range-text" [textContent]="distanceRange"></div>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Paid Amount</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item" *ngIf="resFacets.maxPaidAmount && resFacets.maxPaidAmount>0">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="paidAmountRange" [config]="paidAmountConfig" (ngModelChange)="onChangePaidAmount($event)"></nouislider>
                        <div class="range-text" [textContent]="paidAmountRange"></div>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Provider Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedPN">
                                <span class="input-group-addon" *ngIf="!searchedPN || searchedPN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPN=''" *ngIf="searchedPN && searchedPN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.providerNames | searchFacets:searchedPN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Tax ID Number</a>
                <ul class="nav-dropdown-items" [hidden]="ad">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedTIN">
                                <span class="input-group-addon" *ngIf="!searchedTIN || searchedTIN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedTIN=''" *ngIf="searchedTIN && searchedTIN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.taxIDNumbers | searchFacets:searchedTIN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Total Billed Amount</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item " *ngIf="resFacets.maxTotalBilledAmount && resFacets.maxTotalBilledAmount>0">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="totalBilledAmountRange" [config]="totalBilledAmountConfig" (ngModelChange)="onChangeTotalBilledAmount($event)"></nouislider>
                        <div class="range-text" [textContent]="totalBilledAmountRange"></div>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Total Paid Amount</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item" *ngIf="resFacets.maxTotalPaidAmount && resFacets.maxTotalPaidAmount>0">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="totalPaidAmountRange" [config]="totalPaidAmountConfig" (ngModelChange)="onChangeTotalPaidAmount($event)"></nouislider>
                        <div class="range-text" [textContent]="totalPaidAmountRange"></div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main pr-0 apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>Claimant and Provider Distance</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">GD</h3>-->
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search Claimant and Provider Distance"
                                    [(ngModel)]="searchGDText" (keyup.enter)="searchGD()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchGD()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngIf="billedAmountRange && billedAmountRange.length==2 && (billedAmountRange[0]>0 || billedAmountRange[1]<resFacets.maxBilledAmount)"
                            (click)="billedAmountRange=[0,resFacets.maxBilledAmount]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="'Billed Amount (' + billedAmountRange[0] + ' - ' + billedAmountRange[1] + ')'"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngIf="distanceRange && distanceRange.length==2 && (distanceRange[0]>0 || distanceRange[1]<resFacets.maxDistance)"
                            (click)="distanceRange=[0,resFacets.maxDistance]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="'Distance (' + distanceRange[0] + ' - ' + distanceRange[1] + ')'"></span>                                                       
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngIf="paidAmountRange && paidAmountRange.length==2 && (paidAmountRange[0]>0 || paidAmountRange[1]<resFacets.maxPaidAmount)"
                            (click)="paidAmountRange=[0,resFacets.maxPaidAmount]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="'Paid Amount (' + paidAmountRange[0] + ' - ' + paidAmountRange[1] + ')'"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.providerNames | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Names':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.taxIDNumbers | selectedFacets" (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty TaxID Numbers':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngIf="totalBilledAmountRange && totalBilledAmountRange.length==2 && (totalBilledAmountRange[0]>0 || totalBilledAmountRange[1]<resFacets.maxTotalBilledAmount)"
                            (click)="totalBilledAmountRange=[0,resFacets.maxTotalBilledAmount]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="'Total Billed Amount (' + totalBilledAmountRange[0] + ' - ' + totalBilledAmountRange[1] + ')'"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngIf="totalPaidAmountRange && totalPaidAmountRange.length==2 && (totalPaidAmountRange[0]>0 || totalPaidAmountRange[1]<resFacets.maxTotalPaidAmount)"
                            (click)="totalPaidAmountRange=[0,resFacets.maxTotalPaidAmount]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="'Total Paid Amount (' + totalPaidAmountRange[0] + ' - ' + totalPaidAmountRange[1] + ')'"></span>                           
                       </button>
                    </div>
                    <div class="col-xs-12 p-0 text-xs-right page-info">
                        <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersGD.length) + ' of ' + totalRecords + ' items'"></span>
                    </div>
                    <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                        <h4>No result found.</h4>
                    </div>
                    <div class="col-xs-12 p-0 fda-list-container" [hidden]="totalRecords==0">
                        <div class="card m-b-1" *ngFor="let objGD of asyncGD | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }"
                            (click)="openCloseMap">
                            <div class="card-block p-1">
                                <div class="col-xs-12 p-0">
                                    <button type="button" class="btn btn-link p-0 font-2xl pull-left mr-1 map-button" (click)="openCloseMap(objGD)">
                                        <i class="icon-location-pin"></i>
                                    </button>
                                    <div class="pull-left" *ngIf="objGD.billedAmount">
                                        <span class="data-title">Billed Amount:</span>
                                        <div class="pull-left" [innerHTML]="objGD.billedAmount | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.claimantAddress">
                                        <div class="divider">|</div>
                                        <span class="data-title">Claimant Address:</span>
                                        <div class="pull-left" [innerHTML]="objGD.claimantAddress | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.distance">
                                        <div class="divider">|</div>
                                        <span class="data-title">Distance:</span>
                                        <div class="pull-left" [innerHTML]="objGD.distance | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.paidAmount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Paid Amount:</span>
                                        <div class="pull-left" [innerHTML]="objGD.paidAmount | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.providerName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Provider Name:</span>
                                        <div class="pull-left" [innerHTML]="objGD.providerName | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.claimCount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Claim Count:</span>
                                        <div class="pull-left" [innerHTML]="objGD.claimCount | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.taxIDNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Tax ID Number:</span>
                                        <div class="pull-left" [innerHTML]="objGD.taxIDNumber | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.totalBilledAmount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Total Billed Amount:</span>
                                        <div class="pull-left" [innerHTML]="objGD.totalBilledAmount | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.totalPaidAmount">
                                        <div class="divider">|</div>
                                        <span class="data-title">TotalPaidAmount:</span>
                                        <div class="pull-left" [innerHTML]="objGD.totalPaidAmount | highlight:searchGDText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objGD.providerAddress">
                                        <div class="divider">|</div>
                                        <span class="data-title">Provider Address:</span>
                                        <div class="pull-left" [innerHTML]="objGD.providerAddress | highlight:searchGDText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" [hidden]="totalRecords==0">
                        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                        <div class="pagination-container">
                            <pagination-controls (pageChange)="searchGDRecordsWithFilters($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

<aside id="map-aside" class="aside-menu" [class.open]="showMap">
    <!--mapShow-->
    <div class="m-0 py-h text-muted text-xs-center bg-faded text-uppercase aside-header">
        <a class="pull-left" style="margin-left:5px;cursor:pointer" (click)="closeMap()">
<i class="fa fa-close"></i>
</a>
        <small><b>Distance between provider and claimant - <span [textContent]="distanceString"></span></b></small>
    </div>
    <div class="m-0 aside-body">
        <sebm-google-map #gMap [latitude]="mapCenterLocation.lat" [longitude]="mapCenterLocation.lng" [fitBounds]="mapBounds">
            <sebm-google-map-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"
                [markerDraggable]="m.draggable" [iconUrl]="m.icon">
                <sebm-google-map-info-window>
                    <strong [textContent]="m.info"></strong>
                </sebm-google-map-info-window>
            </sebm-google-map-marker>
            <sebm-google-map-polyline *ngIf="markers && markers.length>=2">
                <sebm-google-map-polyline-point [latitude]="point.lat" [longitude]="point.lng" *ngFor="let point of markers">
                </sebm-google-map-polyline-point>
            </sebm-google-map-polyline>
        </sebm-google-map>
    </div>
</aside>
<footer class="footer">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>