<app-header></app-header>

<div id="facet-sidebar" class="sidebar sidebar-kdark">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">MPN</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedMNP">
                                <span class="input-group-addon" *ngIf="!searchedMNP || searchedMNP.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedMNP=''" *ngIf="searchedMNP && searchedMNP.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let mnp of activeFilters['mnp']|searchFacets:searchedMNP">
                        <a class="nav-link p-r-5" (click)="changeMnpSelection(mnp)">
                            <i class="fa" [ngClass]="mnp.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="mnp.name"></span>
                            <span class="tag tag-info" [textContent]="mnp.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Work Day</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedPS">
                                <span class="input-group-addon" *ngIf="!searchedPS || searchedPS.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPS=''" *ngIf="searchedPS && searchedPS.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let wd of activeFilters['work_day'] | searchFacets:searchedPS">
                        <a class="nav-link p-r-5" (click)="changeWorkDaySelection(wd)">
                            <i class="fa" [ngClass]="wd.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="wd.name==''?'Empty':wd.name"></span>
                            <span class="tag tag-info" [textContent]="wd.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Modified job day</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedPS">
                                <span class="input-group-addon" *ngIf="!searchedPS || searchedPS.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPS=''" *ngIf="searchedPS && searchedPS.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let mjd of activeFilters['modified_day'] | searchFacets:searchedPS">
                        <a class="nav-link p-r-5" (click)="changeModifiedDaySelection(mjd)">
                            <i class="fa" [ngClass]="mjd.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="mjd.name==''?'Empty':mjd.name"></span>
                            <span class="tag tag-info" [textContent]="mjd.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngIf="0" class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Patient Age</a>
                <ul class="nav-dropdown-items m-t-0">
                    <li class="nav-item age-slider-li onAgeChange">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <nouislider [connect]="true" [min]="0" [max]="15" [step]="1" [(ngModel)]="someRange" (ngModelChange)="onAgeChange($event)"></nouislider>
                            </div>
                            <div>{{someRange[0]}} - {{someRange[1]}}</div>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main kdark" id="main-container">
    <div *ngIf="isShowLoad" class="loading">Loading&#8230;</div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['../home']">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Provider Outcome</span>
        </li>
        <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid text-white">
        <div class="row m-b-1" style="padding: 0px 13px 0px 2px;">
            <div *ngIf="activeFilters['default'].city" class="col-md-2">City :
                <span class="edit-address-selection-line" (click)="changeAddressInfoModel()">{{activeFilters['default'].city}}</span>
            </div>
            <div *ngIf="activeFilters['default'].zip" class="col-md-2">Zip Code :
                <span class="edit-address-selection-line" (click)="changeAddressInfoModel()">{{activeFilters['default'].zip}}</span>
            </div>
            <div *ngIf="activeFilters['default'].icd" class="col-md-4">ICD Code/ICD Description :
                <span class="edit-address-selection-line" (click)="changeAddressInfoModel()">{{activeFilters['default'].icd}}</span>
            </div>
            <div *ngIf="activeFilters['default'].speciality" class="col-md-4">Speciality :
                <span class="edit-address-selection-line" (click)="changeAddressInfoModel()">{{activeFilters['default'].speciality}}</span>
            </div>
            <div class="col-md-4" class="send-sms-to-claimant">
                <button (click)="openSendSMSModel()" type="button" class="btn btn-primary">Send providers list to claimant</button>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="m-t-2">
                <div class="row">
                    <div class="form-group mb-0 col-md-12">
                        <div class="input-group">
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search ProviderSummary" [(ngModel)]="searchProviderSummaryText">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['mnp'] | selectedFacets" (click)="changeMnpSelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Name':objFacet.name"></span>
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['work_day'] | selectedFacets"
                            (click)="changeWorkDaySelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['modified_day'] | selectedFacets"
                            (click)="changeModifiedDaySelection(objFacet)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card br-5 mb-2 card-accent-primary mb-0">
                            <div class="card-header">
                                Top 5 Providers in the area
                            </div>
                            <div class="card-block">
                                <table class="table ktable treatment-table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input class="pr-check-all" title="Select All" (change)="selectAllProvider($event);" type="checkbox">
                                            </th>
                                            <th width="25%">Provider</th>

                                            <th>ICD Code</th>
                                            <th>Avg duration to Modified Job (Days)</th>
                                            <th>Avg duration Return to Work (Days)</th>
                                            <th>Avg amount per Patient</th>
                                            <th>MPN</th>
                                            <th>Distance (Miles)</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr *ngFor="let pod of providerOutcomeData">
                                            <td>
                                                <input class="pr-check-all" [(ngModel)]="pod.selected" title="Select All" type="checkbox">
                                            </td>
                                            <td>
                                                <address class="text-left">
                                                    <strong [innerHTML]="pod.PROVIDER_NAME | highlight:searchProviderSummaryText"></strong>
                                                    <br>
                                                    <span [innerHTML]="pod.SPECIALITY | highlight:searchProviderSummaryText"></span>
                                                    <br>
                                                    <i class="icon-home icons font-1xl"></i>
                                                    <span [innerHTML]="pod.PROVIDER_ADDRESS+', '+pod.VENDOR_CITY+' '+pod.STATE+' '+pod.VENDOR_ZIP | highlight:searchProviderSummaryText"></span>
                                                    <br>
                                                    <i class="icon-phone icons font-1xl"></i>
                                                    <span [innerHTML]="pod.PHONE_NUMBER | highlight:searchProviderSummaryText"></span>
                                                </address>
                                            </td>

                                            <td>{{pod.ICD_CODE1}}</td>
                                            <td>{{pod.RMJ_DAYS}}</td>
                                            <td>{{pod.RTW_DAYS}}</td>
                                            <td>${{pod.TOT_PAID_AMT}}</td>
                                            <td>{{pod.MPN_YN}}</td>
                                            <td>{{pod.DISTANCE}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="chart-section row">
                                    <div class="col-sm-12">
                                        <div class="ap-light-blue-bg">
                                            <nvd3 [options]="paidChartOptions" [data]="paidChartData"></nvd3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

<!-- /.modal -->
<div bsModal #addressInfoModel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="card-header">
                <strong>Select a City and Zip Code</strong>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">City</label>
                                    <ng-select name="city" [(ngModel)]="addressSelectObj.city" (selected)="selectedCity($event)" #selCity [items]="cityList"
                                        placeholder="Search For City">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Zip Code</label>
                                    <ng-select name="zip" [(ngModel)]="addressSelectObj.zip" (selected)="selectedZip($event)" #selZipCode [items]="zipCodeList"
                                        placeholder="Search For Zip Code">
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="name">Please select either ICD</label>
                                <ng-select name="icd" [(ngModel)]="addressSelectObj.icd" (selected)="selectedICD($event)" #selICDCode [items]="icdCodeList"
                                    placeholder="Search For Zip Code">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">OR</div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="name">Speciality</label>
                                <ng-select name="speciality" [(ngModel)]="addressSelectObj.speciality" (selected)="selectedSpeciality($event)" #selSpeciality
                                    [items]="specialityList" placeholder="Search For Zip Code">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h1 *ngIf="0 && !((addressSelectObj.city && addressSelectObj.city.length>0 && addressSelectObj.city[0].hasOwnProperty('text')) && (addressSelectObj.zip && addressSelectObj.zip.length>0 && addressSelectObj.zip[0].hasOwnProperty('text')) && ((addressSelectObj.icd && addressSelectObj.icd.length>0 && addressSelectObj.icd[0].hasOwnProperty('text')) || (addressSelectObj.speciality && addressSelectObj.speciality.length>0 && addressSelectObj.speciality[0].hasOwnProperty('text'))))">All Not Valid</h1>

            <div class="modal-footer text-center">
                <button type="button" (click)="submitAddressModelData()" [disabled]="!((addressSelectObj.city && addressSelectObj.city.length>0 && addressSelectObj.city[0].hasOwnProperty('text')) && (addressSelectObj.zip && addressSelectObj.zip.length>0 && addressSelectObj.zip[0].hasOwnProperty('text')) && ((addressSelectObj.icd && addressSelectObj.icd.length>0 && addressSelectObj.icd[0].hasOwnProperty('text')) || (addressSelectObj.speciality && addressSelectObj.speciality.length>0 && addressSelectObj.speciality[0].hasOwnProperty('text'))))"
                    class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="closeAddressInfoModel()">Cancel</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div bsModal #sendSmsInfo="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="card-header">
                <strong>Select claimants</strong>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissable" id="ProvideMsgScccess" style="display:none">
                    <strong>Success!</strong> Massage sent successfully.
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="name">Select claimant</label>
                                <ng-select [multiple]="true" [(ngModel)]="sendSmsSelectObj.sender" [items]="sendersList" placeholder="No senders selected"></ng-select>
                            </div>
                        </div>
                    </div>
                    <h1 *ngIf="0">{{sendSmsSelectObj|json}}</h1>
                </div>
            </div>

            <div class="modal-footer text-center">
                <button type="button" [disabled]="!(sendSmsSelectObj.sender && sendSmsSelectObj.sender.length>0)" (click)="sendSMStoSenders()"
                    class="btn btn-primary">Send</button>
                <button type="button" class="btn btn-secondary" (click)="closeSMSInfoModel()">Cancel</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<footer class="footer kdark">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>