<!-- <header class="navbar kdark-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->
<app-header-default></app-header-default>
<div id="facet-sidebar" class="sidebar sidebar-kdark">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Vendor Name 1</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedVN">
                                <span class="input-group-addon" *ngIf="!searchedVN || searchedVN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedVN=''" *ngIf="searchedVN && searchedVN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.vendorName1 | searchFacets:searchedVN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li [hidden]="true" class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Date of Service</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedDOS">
                                <span class="input-group-addon" *ngIf="!searchedDOS || searchedDOS.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedDOS=''" *ngIf="searchedDOS && searchedDOS.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.dateOfService | searchFacets:searchedDOS:'date'">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty': (objFacet.name | date:'dd-MMM-yyyy')"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li> -->
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Billed Amount 1</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item" *ngIf="resFacets.maxBilledAmount && resFacets.maxBilledAmount>0">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="billedAmountRange" [config]="billedAmountConfig" (ngModelChange)="onChangeBilledAmount($event)"></nouislider>
                        <div class="range-text" [textContent]="billedAmountRange"></div>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown range-silider-container" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Paid Amount 1</a>
                <ul class="nav-dropdown-items range-silider">
                    <li class="nav-item" *ngIf="resFacets.maxPaidAmount && resFacets.maxPaidAmount>0">
                        <nouislider class="nav-link" name="form_value" [(ngModel)]="paidAmountRange" [config]="paidAmountConfig" (ngModelChange)="onChangePaidAmount($event)"></nouislider>
                        <div class="range-text" [textContent]="paidAmountRange"></div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main kdark" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['../providerdashboard']">Provider Dashboard</a></li>
        <li class="breadcrumb-item active">
            <span [textContent]="pageName">Double Billing</span>
        </li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-clear" title="Download CSV" href="javascript:void(0)" (click)="exportCSV()">
                    <i class="icon-cloud-download"></i>
                    Download
                </a>
            </div>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="m-t-2">

                <!--<h3 class="card-header">DuplicateBilling</h3>-->
                <div class="row">
                    <div class="form-group mb-0 col-md-12">
                        <div class="input-group">
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search Duplicate Billing" [(ngModel)]="searchDuplicateBillingText"
                                (keyup.enter)="searchDuplicateBilling()">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchDuplicateBilling()"><i class="fa fa-search"></i> Search</button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 p-0 pt-1 text-xs-right page-info" [hidden]="true">
                    <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersDuplicateBilling.length) + ' of ' + totalRecords + ' items'"></span>
                </div>
                <div class="col-xs-12 p-0 selected-facet-container">
                    <button class="btn btn-secondary active" type="button" *ngIf="billedAmountRange && billedAmountRange.length==2 && (billedAmountRange[0]>0 || billedAmountRange[1]<resFacets.maxBilledAmount)"
                        (click)="billedAmountRange=[0,resFacets.maxBilledAmount]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="'Billed Amount 1(' + billedAmountRange[0] + ' - ' + billedAmountRange[1] + ')'"></span>                           
                    </button>
                    <button class="btn btn-secondary active" type="button" *ngIf="paidAmountRange && paidAmountRange.length==2 && (paidAmountRange[0]>0 || paidAmountRange[1]<resFacets.maxPaidAmount)"
                        (click)="paidAmountRange=[0,resFacets.maxPaidAmount]">
                            <i class="fa fa-close"></i>
                            <span [textContent]="'Paid Amount 1(' + paidAmountRange[0] + ' - ' + paidAmountRange[1] + ')'"></span>                           
                    </button>
                    <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.vendorName1 | selectedFacets" (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Vendor name 1':objFacet.name"></span>                           
                    </button>
                    <button [hidden]="true" class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.dateOfService | selectedFacets"
                        (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Date of servive':(objFacet.name | date:'dd-MMM-yyyy')"></span>                           
                    </button>
                </div>
                <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                    <h4>No result found.</h4>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-xs-12" [hidden]="totalRecords==0">
                    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                    <div class="pagination-container">
                        <pagination-controls autoHide="true" (pageChange)="searchDuplicateBillingRecordsWithFilters($event)" id="server"></pagination-controls>
                        <ul class="pagination" [hidden]="true">
                            <li class="page-item pagination-previous" [class.disabled]="pageNumber<=1">
                                <a class="page-link" (click)="searchDuplicateBillingRecordsWithFilters(pageNumber-1)">Previous</a>
                            </li>
                            <li class="page-item">
                                <span *ngIf="totalRecords>0" [textContent]="'Record ' + pageNumber + ' of ' + totalRecords"></span>
                            </li>
                            <li class="page-item pagination-next" [class.disabled]="pageNumber==(totalRecords/recordsToFetch).toFixed(0)">
                                <a class="page-link" (click)="searchDuplicateBillingRecordsWithFilters(pageNumber+1)">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let objDuplicateBilling of asyncDuplicateBilling | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
            <div class="animated fadeIn mb-2 br-5 dup-bill-list">
                <div class="card mb-0">
                    <div class="card-header px-1 py-q">
                        <div class="row m-0">
                            <div class="col-lg-1">
                                <button class="btn btn-link mr-1 mt-0 focus-outline" (click)="objDuplicateBilling.isOpen=!objDuplicateBilling.isOpen"
                                    type="button">
                                <i class="icon-arrow-down" [hidden]="!objDuplicateBilling.isOpen"></i>
                                <i class="icon-arrow-right" [hidden]="objDuplicateBilling.isOpen"></i>
                            </button>
                            </div>
                            <div class="col-lg-11">
                                <div class="pull-left" *ngIf="objDuplicateBilling.billedCPTCode">
                                    <span class="data-title">CPT CODE:</span>
                                    <div class="pull-left" [innerHTML]="objDuplicateBilling.billedCPTCode | highlight:searchDuplicateBillingText"></div>
                                </div>
                                <div class="pull-left" *ngIf="objDuplicateBilling.dateOfServiceYear">
                                    <div class="divider">|</div>
                                    <span class="data-title">DOSY:</span>
                                    <div class="pull-left" [innerHTML]="objDuplicateBilling.dateOfServiceYear | highlight:searchDuplicateBillingText"></div>
                                </div>
                                <div class="pull-left" *ngIf="objDuplicateBilling.dateOfService">
                                    <div class="divider">|</div>
                                    <span class="data-title">DOS:</span>
                                    <div class="pull-left" [innerHTML]="(objDuplicateBilling.dateOfService | date:'dd-MMM-yyyy') | highlight:searchDuplicateBillingText"></div>
                                </div>
                                <div class="pull-left" *ngIf="objDuplicateBilling.typeOfBillCode">
                                    <div class="divider">|</div>
                                    <span class="data-title">BILL CODE:</span>
                                    <div class="pull-left" [innerHTML]="objDuplicateBilling.typeOfBillCode | highlight:searchDuplicateBillingText"></div>
                                </div>
                                <div class="pull-left" *ngIf="objDuplicateBilling.typeOfBillDescription">
                                    <div class="divider">|</div>
                                    <span class="data-title">TYPE OF DESC.:</span>
                                    <div class="pull-left" [innerHTML]="objDuplicateBilling.typeOfBillDescription | highlight:searchDuplicateBillingText"></div>
                                </div>
                                <div class="pull-left" *ngIf="objDuplicateBilling.billedCPTDescription">
                                    <div class="divider">|</div>
                                    <span class="data-title">CPT DESC.:</span>
                                    <div class="pull-left" [innerHTML]="objDuplicateBilling.billedCPTDescription | highlight:searchDuplicateBillingText"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="slide-down-de" class="card-block" [hidden]="!objDuplicateBilling.isOpen">
                        <div (click)="$event.preventDefault()">
                            <tabset class="kdark">
                                <tab heading="BILL-1">
                                    <div class="row m-0">
                                        <div class="col-xs-4">
                                            <div><b>TAX ID NUMBER-1</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.taxIDNumber1 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>VENDOR NAME-1</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.vendorName1 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>PAID CPT CODE-1</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.paidCPTCode1 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>BILLED AMOUNT-1</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.billedAmount1 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>PAID AMOUNT-1</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.paidAmount1 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>BILL RECEIVED DATE-1</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.billReceivedDate1 | date:'dd-MMM-yyyy' | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>PAID CPT DESCRIPTION-1</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.paidCPTDescription1 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="BILL-2">
                                    <div class="row m-0">
                                        <div class="col-xs-4">
                                            <div><b>TAX ID NUMBER-2</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.taxIDNumber2 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>VENDOR NAME-2</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.vendorName2 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>PAID CPT CODE-2</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.paidCPTCode2 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>BILLED AMOUNT-2</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.billedAmount2 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>PAID AMOUNT-2</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.paidAmount2 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>BILL RECEIVED DATE-2</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.billReceivedDate2 | date:'dd-MMM-yyyy' | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div><b>PAID CPT DESCRIPTION-2</b></div>
                                            <div>
                                                <div class="pull-left" [innerHtml]="objDuplicateBilling.paidCPTDescription2 | highlight:searchDuplicateBillingText"></div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<footer class="footer kdark">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>