<app-header-default></app-header-default>
<!--
<div id="facet-sidebar" class="sidebar">
    <nav class="sidebar-nav">

    </nav>
</div>-->
<!-- Main content -->
<main class="main pl-0 apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>DNB</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">DNB</h3>-->
                <div class="card-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <!--<a (click)="pdfShow=!pdfShow">click me to view PDF in Iframe!</a>-->
                                <div class="thumbnail" style="display:block;" *ngIf="!pdfShow">
                                    <pdf-viewer [src]="pdfSrc" [show-all]="true" [original-size]="false" style="display: block;"></pdf-viewer>
                                </div>
                                <br>
                            </div>
                            <div class="col-xs-12" *ngIf="pdfShow">
                                <object width="500" height="600" [data]="pageurl" type="application/pdf"></object>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<footer class="footer" style="left:0;">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>