<!-- <header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->
<app-header-default></app-header-default>

<div id="facet-sidebar" class="sidebar apatics-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Date of Action Year</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedDOAY">
                                <span class="input-group-addon" *ngIf="!searchedDOAY || searchedDOAY.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedDOAY=''" *ngIf="searchedDOAY && searchedDOAY.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.dateOfActionYears | searchFacets:searchedDOAY">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Action Type</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedAT">
                                <span class="input-group-addon" *ngIf="!searchedAT || searchedAT.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedAT=''" *ngIf="searchedAT && searchedAT.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.actionTypes | searchFacets:searchedAT">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Specialty</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedSP">
                                <span class="input-group-addon" *ngIf="!searchedSP || searchedSP.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedSP=''" *ngIf="searchedSP && searchedSP.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.specialties | searchFacets:searchedSP">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 3)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Business Type</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedBT">
                                <span class="input-group-addon" *ngIf="!searchedBT || searchedBT.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedBT=''" *ngIf="searchedBT && searchedBT.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.businessTypes | searchFacets:searchedBT">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 4)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>MBCOIG</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">MBCOIG</h3>-->
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search MBCOIG" [(ngModel)]="searchMBCOIGText"
                                    (keyup.enter)="searchMBCOIG()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchMBCOIG()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0 pt-1 text-xs-right page-info">
                        <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersMBCOIG.length) + ' of ' + totalRecords + ' items'"></span>
                    </div>
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.dateOfActionYears | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Date of Action Years':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.actionTypes | selectedFacets" (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Action Types':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.specialties | selectedFacets" (click)="removeSelectedFacet(objFacet, 3)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Specialties':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.businessTypes | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 4)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Business Types':objFacet.name"></span>                           
                       </button>
                    </div>
                    <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                        <h4>No result found.</h4>
                    </div>
                    <div class="col-xs-12 p-0 fda-list-container" [hidden]="totalRecords==0">
                        <div class="card m-b-1" *ngFor="let objMBCOIG of asyncMBCOIG | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
                            <div class="card-block p-1">
                                <div class="col-xs-12 p-0">
                                    <button type="button" class="btn btn-primary pull-left mr-1" (click)="objMBCOIG.isOpen=!objMBCOIG.isOpen">
                                        <i class="fa" [ngClass]="objMBCOIG.isOpen ? 'fa-minus' : 'fa-plus'"></i>
                                    </button>
                                    <div class="pull-left" *ngIf="objMBCOIG.alertSource">
                                        <span class="data-title">Alert Source:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.alertSource | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.dateOfActionYear">
                                        <div class="divider">|</div>
                                        <span class="data-title">Date Of Action Year:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.dateOfActionYear | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.actionType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Action Type:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.actionType | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.specialty">
                                        <div class="divider">|</div>
                                        <span class="data-title">Specialty:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.specialty | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.businessType">
                                        <div class="divider">|</div>
                                        <span class="data-title">business Type:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.businessType | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.monthYear">
                                        <div class="divider">|</div>
                                        <span class="data-title">Month Year:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.monthYear | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.matchName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Match Name:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.matchName | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.actionDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Action Date:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.actionDate.substring(6, objMBCOIG.actionDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.reinsistDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Reinsist Date:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.reinsistDate.substring(6, objMBCOIG.reinsistDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.waiverDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Waiver Date:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.waiverDate.substring(6, objMBCOIG.actionDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchMBCOIGText"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0" *ngIf="objMBCOIG.isOpen">
                                    <div class="pull-left" *ngIf="objMBCOIG.licenseNumber">
                                        <span class="data-title">License Number:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.licenseNumber | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.nPI">
                                        <div class="divider">|</div>
                                        <span class="data-title">NPI:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.nPI | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.cityState">
                                        <div class="divider">|</div>
                                        <span class="data-title">City State :</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.cityState | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.zipCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Zip Code:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.zipCode | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.businessName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Business Name:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.businessName | highlight:searchMBCOIGText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objMBCOIG.address">
                                        <div class="divider">|</div>
                                        <span class="data-title">Address:</span>
                                        <div class="pull-left" [innerHTML]="objMBCOIG.address | highlight:searchMBCOIGText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" [hidden]="totalRecords==0">
                        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                        <div class="pagination-container">
                            <pagination-controls (pageChange)="searchMBCOIGRecordsWithFilters($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<footer class="footer">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>