hr.transparent {
    border-top: 1px solid transparent;
}

.d-table {
    display: table;
}

.d-100vh-va-middle {
    display: table-cell;
    height: calc(100vh - 175px);
    vertical-align: middle;
}
