<!-- <header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->
<app-header-default></app-header-default>

<div id="facet-sidebar" class="sidebar apatics-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Corporation Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedCN">
                                <span class="input-group-addon" *ngIf="!searchedCN || searchedCN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedCN=''" *ngIf="searchedCN && searchedCN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.corporationNames | searchFacets:searchedCN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Corp or LLC</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedCOL">
                                <span class="input-group-addon" *ngIf="!searchedCOL || searchedCOL.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedCOL=''" *ngIf="searchedCOL && searchedCOL.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.corpOrLLCs | searchFacets:searchedCOL">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Corporation Type</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedCT">
                                <span class="input-group-addon" *ngIf="!searchedCT || searchedCT.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedCT=''" *ngIf="searchedCT && searchedCT.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.corporationTypes | searchFacets:searchedCT">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 3)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">California City</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedCC">
                                <span class="input-group-addon" *ngIf="!searchedCC || searchedCC.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedCC=''" *ngIf="searchedCC && searchedCC.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.californiaCities | searchFacets:searchedCC">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 4)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>Secretary of State</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">SecretaryOfState</h3>-->
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search SecretaryOfState" [(ngModel)]="searchSecretaryOfStateText"
                                    (keyup.enter)="searchSecretaryOfState()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchSecretaryOfState()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0 pt-1 text-xs-right page-info">
                        <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rerSecretaryOfState.length) + ' of ' + totalRecords + ' items'"></span>
                    </div>
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.corporationNames | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Corporation Names':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.corpOrLLCs | selectedFacets" (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Corp or LLC':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.corporationTypes | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 3)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Corporation Types':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.californiaCities | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 4)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty California Cities':objFacet.name"></span>                           
                       </button>
                    </div>
                    <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                        <h4>No result found.</h4>
                    </div>
                    <div class="col-xs-12 p-0 fda-list-container" [hidden]="totalRecords==0">
                        <div class="card m-b-1" *ngFor="let objSecretaryOfState of asyncSecretaryOfState | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
                            <div class="card-block p-1">
                                <div class="col-xs-12 p-0">
                                    <button type="button" class="btn btn-primary pull-left mr-1" (click)="objSecretaryOfState.isOpen=!objSecretaryOfState.isOpen">
                                        <i class="fa" [ngClass]="objSecretaryOfState.isOpen ? 'fa-minus' : 'fa-plus'"></i>
                                    </button>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.corporationName">
                                        <span class="data-title">Corporation Names:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.corporationName | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.corpOrLLC">
                                        <div class="divider">|</div>
                                        <span class="data-title">Corp or LLC:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.corpOrLLC | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.corporationType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Corporation Type:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.corporationType | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.californiaCity">
                                        <div class="divider">|</div>
                                        <span class="data-title">California City:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.californiaCity | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.incorporationDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Incorporation Date:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.incorporationDate.substring(6, objSecretaryOfState.incorporationDate.length-7) | date : 'MM-dd-yyyy'  | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.incorporationStatus">
                                        <div class="divider">|</div>
                                        <span class="data-title">Incorporation Status:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.incorporationStatus | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.mailAddressString">
                                        <div class="divider">|</div>
                                        <span class="data-title">Mail Address:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.mailAddressString | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0" *ngIf="objSecretaryOfState.isOpen">
                                    <div class="pull-left" *ngIf="objSecretaryOfState.transactionDate">
                                        <span class="data-title">Transaction Date:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.transactionDate.substring(6, objSecretaryOfState.transactionDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.transactionCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Tansaction Code:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.transactionCode | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.fTBSuspensionStatusCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">FTB Suspension Status Code:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.fTBSuspensionStatusCode | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.fTBSuspensionDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">FTB Suspension Date :</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.fTBSuspensionDate.substring(6, objSecretaryOfState.fTBSuspensionDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.corporationNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Corporation Number:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.corporationNumber | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.agentName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Agent Name:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.agentName | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.agentAddressString">
                                        <div class="divider">|</div>
                                        <span class="data-title">Agent Address:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.agentAddressString | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.cEOPartnerName">
                                        <div class="divider">|</div>
                                        <span class="data-title">CEO / Partner Name:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.cEOPartnerName | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.cEOPartnerAddressString">
                                        <div class="divider">|</div>
                                        <span class="data-title">CEO / Partner Address:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.cEOPartnerAddressString | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.generalPartner1Name">
                                        <div class="divider">|</div>
                                        <span class="data-title">General Partner 1 Name:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.generalPartner1Name | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.generalPartner1AddressString">
                                        <div class="divider">|</div>
                                        <span class="data-title">General Partner 1 Address:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.generalPartner1AddressString | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.generalPartner2Name">
                                        <div class="divider">|</div>
                                        <span class="data-title">General Partner 2 Name:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.generalPartner2Name | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.generalPartner2AddressString">
                                        <div class="divider">|</div>
                                        <span class="data-title">General Partner 2 Address:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.generalPartner2AddressString | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.californiaAddressString">
                                        <div class="divider">|</div>
                                        <span class="data-title">California Address:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.californiaAddressString | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.cONameIfPresent">
                                        <div class="divider">|</div>
                                        <span class="data-title">C / O Name (If Present):</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.cONameIfPresent | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.comments">
                                        <div class="divider">|</div>
                                        <span class="data-title">Comments:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.comments | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.numberOfAmendments">
                                        <div class="divider">|</div>
                                        <span class="data-title">Number of Amendments:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.numberOfAmendments | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.numberOfGPToAmendment">
                                        <div class="divider">|</div>
                                        <span class="data-title">Number of GP to Amendment:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.numberOfGPToAmendment | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.additionalGPs">
                                        <div class="divider">|</div>
                                        <span class="data-title">Additional GPs:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.additionalGPs | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.documentPageCount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Document Page Count:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.documentPageCount | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.documentNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Document Number:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.documentNumber | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.term">
                                        <div class="divider">|</div>
                                        <span class="data-title">Term:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.term | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.corporationClassification">
                                        <div class="divider">|</div>
                                        <span class="data-title">Corporation Classification:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.corporationClassification | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.jurisdiction">
                                        <div class="divider">|</div>
                                        <span class="data-title">Jurisdiction:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.jurisdiction | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.oldCorporationName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Old Corporation Name:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.oldCorporationName | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.filingType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Filing Type:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.filingType | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.originalFileDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Original File Date:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.originalFileDate.substring(6, objSecretaryOfState.originalFileDate.length-7) | date : 'MM-dd-yyyy'  | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.nameCorporationNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Name Corporation Number:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.nameCorporationNumber | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.stateOrForeignCountry">
                                        <div class="divider">|</div>
                                        <span class="data-title">State or Foreign Country:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.stateOrForeignCountry | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.lLCManagementCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">LLC Management Code:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.lLCManagementCode | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objSecretaryOfState.originalFileNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Original File Number:</span>
                                        <div class="pull-left" [innerHTML]="objSecretaryOfState.originalFileNumber | highlight:searchSecretaryOfStateText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" [hidden]="totalRecords==0">
                        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                        <div class="pagination-container">
                            <pagination-controls (pageChange)="searchSecretaryOfStateRecordsWithFilters($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<footer class="footer">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>