<app-header></app-header>

<!-- Main content -->
<main class="main kdark full-main" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['../../home']">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Provider Reports</span>
        </li>
        <!-- Breadcrumb Menu-->
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn mb-2 charts-container">
            <div class="row">
                <div class="col-sm-6">
                    <div style="display:none" class="card">
                        <div class="card-header">
                            Cluster of Providers
                        </div>
                        <div class="card-block p-0">
                            <div class="chart-wrapper">
                                <div class="ap-light-blue-bg">
                                    <nvd3 [options]="scatterOptions" [data]="scatterData"></nvd3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/Provider Reports 11.png">
                </div>

                <div class="col-sm-6">
                    <div style="display:none" class="card">
                        <div class="card-header">
                            Amount Paid vs PD CPT Difference Count
                        </div>
                        <div class="card-block p-0">
                            <div class="chart-wrapper">
                                <div class="ap-light-blue-bg">
                                    <nvd3 [options]="boxPlotOptions" [data]="boxPlotData"></nvd3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="assets/img/Provider Reports 22.png">
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>


<footer class="footer kdark full-footer">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>