<div class="container">

  <div class="wrapper">
    <form name="Login_Form" class="form-signin" #loginForm="ngForm" (ngSubmit)="login(username.value, password.value)">
      <h3 class="form-signin-heading">
        <span>Sign In</span>
      </h3>

      <input type="text" class="form-control" name="username" placeholder="Username" autofocus="" #username ngModel required/>
      <input type="password" class="form-control" name="password" placeholder="Password" #password ngModel required/>

      <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit" [disabled]="!loginForm.valid">Login</button>
      <div *ngIf="loginError" class="error-mssg-section m-t-10 text-center">
        <alert type="danger" dismissOnTimeout="3000" (onClose)="onClose()">{{ loginError }}</alert>
      </div>
    </form>
  </div>
</div>