<!-- <header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->
<app-header-default></app-header-default>

<div id="facet-sidebar" class="sidebar apatics-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Agency Name</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedAN">
                                <span class="input-group-addon" *ngIf="!searchedAN || searchedAN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedAN=''" *ngIf="searchedAN && searchedAN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.agencyNames | searchFacets:searchedAN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">License Type</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedLT">
                                <span class="input-group-addon" *ngIf="!searchedLT || searchedLT.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedLT=''" *ngIf="searchedLT && searchedLT.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.licenseTypes | searchFacets:searchedLT">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Speciality Code</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedSC">
                                <span class="input-group-addon" *ngIf="!searchedSC || searchedSC.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedSC=''" *ngIf="searchedSC && searchedSC.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.specialityCodes | searchFacets:searchedSC">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 3)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">License Status</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedLS">
                                <span class="input-group-addon" *ngIf="!searchedLS || searchedLS.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedLS=''" *ngIf="searchedLS && searchedLS.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.licenseStatuses | searchFacets:searchedLS">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 4)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>DCA</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">DCA</h3>-->
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search DCA" [(ngModel)]="searchDCAText"
                                    (keyup.enter)="searchDCA()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchDCA()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0 pt-1 text-xs-right page-info">
                        <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersDCA.length) + ' of ' + totalRecords + ' items'"></span>
                    </div>
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.agencyNames | selectedFacets" (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Agency Names':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.licenseTypes | selectedFacets" (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty License Types':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.specialityCodes | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 3)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Speciality Codes':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.licenseStatuses | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 4)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty License Statuses':objFacet.name"></span>                           
                       </button>
                    </div>
                    <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                        <h4>No result found.</h4>
                    </div>
                    <div class="col-xs-12 p-0 fda-list-container" [hidden]="totalRecords==0">
                        <div class="card m-b-1" *ngFor="let objDCA of asyncDCA | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
                            <div class="card-block p-1">
                                <div class="col-xs-12 p-0">
                                    <button type="button" class="btn btn-primary pull-left mr-1" (click)="objDCA.isOpen=!objDCA.isOpen">
                                        <i class="fa" [ngClass]="objDCA.isOpen ? 'fa-minus' : 'fa-plus'"></i>
                                    </button>
                                    <div class="pull-left" *ngIf="objDCA.agencyName">
                                        <span class="data-title">Agency Name:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.agencyName | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.licenseType">
                                        <div class="divider">|</div>
                                        <span class="data-title">License Type:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.licenseType | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.specialityCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Speciality Code:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.specialityCode | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.licenseNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">License Number:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.licenseNumber | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.licenseStatus">
                                        <div class="divider">|</div>
                                        <span class="data-title">License Status:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.licenseStatus | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.firstName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Name:</span>
                                        <div class="pull-left" [innerHTML]="(objDCA.firstName + ' ' + objDCA.middleName + ' ' + objDCA.lastName + ' ' + objDCA.suffix) | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.address">
                                        <div class="divider">|</div>
                                        <span class="data-title">Address:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.address | highlight:searchDCAText"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0" *ngIf="objDCA.isOpen">
                                    <div class="pull-left" *ngIf="objDCA.individualOrganization">
                                        <span class="data-title">Individual Organization:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.individualOrganization | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.county">
                                        <div class="divider">|</div>
                                        <span class="data-title">County:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.county | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.originalIssueDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Original Issue Date:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.originalIssueDate.substring(6, objDCA.originalIssueDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.expirationDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Expiration Date :</span>
                                        <div class="pull-left" [innerHTML]="objDCA.expirationDate.substring(6, objDCA.expirationDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchDCAText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objDCA.degree">
                                        <div class="divider">|</div>
                                        <span class="data-title">Degree:</span>
                                        <div class="pull-left" [innerHTML]="objDCA.degree | highlight:searchDCAText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" [hidden]="totalRecords==0">
                        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                        <div class="pagination-container">
                            <pagination-controls (pageChange)="searchDCARecordsWithFilters($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

<footer class="footer">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>