<app-header></app-header>

<div id="facet-sidebar" class="sidebar sidebar-kdark">
    <ul class="nav">
        <li class="divider"></li>
        <li class="nav-item" (click)="activeSideNavLink(1)">
            <a class="nav-link" [ngClass]="{'active': isShowAtRisk}">
                AT RISK
            </a>
        </li>
        <li class="nav-item" (click)="activeSideNavLink(2)">
            <a class="nav-link" [ngClass]="{'active': isShowMediumRisk}">
                MEDIUM RISK
            </a>
        </li>
    </ul>
</div>
<!-- Main content -->
<main class="main kdark" id="main-container">
    <div *ngIf="isShowLoad" class="loading">Loading&#8230;</div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['../home']">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Opioid</span>
        </li>
        <!-- Breadcrumb Menu-->
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="m-t-2">
                <div class="row">
                    <div class="col-sm-12" style="color:#1f486a;font-size: 20px;text-align: center;padding-bottom: 10px;">
                        <div>OPIOID AT-RISK</div>
                        <div>CASE MANAGEMENT – Powered by AI</div>
                    </div>
                </div>
                <div *ngIf="isShowAtRisk" class="row">
                    <div class="col-sm-12">
                        <div class="card br-5 mb-2 card-accent-primary mb-0">
                            <div class="card-header">
                                New Claimants – AT RISK
                            </div>
                            <div class="card-block">
                                <div class="report-table-container">
                                    <table class="table table-bordered ktable">
                                        <thead>
                                            <tr>
                                                <th># Claimant</th>
                                                <th>Claimant Name</th>
                                                <th>Comments</th>
                                                <th width="30%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ran of riskData.AtRisk.NewClaimants; let i=index">
                                                <td>{{ran.id}}</td>
                                                <td>{{ran.name}}</td>
                                                <td>{{ran.comments}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm" (click)="openInformProviderModel()">Inform Provider</button>
                                                    <button type="button" class="btn btn-primary btn-sm" (click)="openAssignManagerModel()">Assign Case Manager</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card br-5 mb-2 card-accent-primary mb-0">
                            <div class="card-header">
                                Assigned Claimants
                            </div>
                            <div class="card-block">
                                <div class="report-table-container">
                                    <table class="table table-bordered ktable">
                                        <thead>
                                            <tr>
                                                <th># Claimant</th>
                                                <th>Claimant Name</th>
                                                <th>Case Manager</th>
                                                <th>Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let raa of riskData.AtRisk.AssignedClaimants; let i=index">
                                                <td>{{raa.id}}</td>
                                                <td>{{raa.name}}</td>
                                                <td>{{raa.caseManager}}</td>
                                                <td>{{raa.note}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isShowMediumRisk" class="row">
                    <div class="col-sm-12">
                        <div class="card br-5 mb-2 card-accent-primary mb-0">
                            <div class="card-header">
                                New Claimants – Medium Risk
                            </div>
                            <div class="card-block">
                                <div class="report-table-container">
                                    <table class="table table-bordered ktable">
                                        <thead>
                                            <tr>
                                                <th># Claimant</th>
                                                <th>Claimant Name</th>
                                                <th>Comments</th>
                                                <th width="30%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let rmn of riskData.MediumRisk.NewClaimants; let i=index">
                                                <td>{{rmn.id}}</td>
                                                <td>{{rmn.name}}</td>
                                                <td>{{rmn.comments}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm" (click)="openInformProviderModel()">Inform Provider</button>
                                                    <button type="button" class="btn btn-primary btn-sm" (click)="openAssignManagerModel()">Assign Case Manager</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card br-5 mb-2 card-accent-primary mb-0">
                            <div class="card-header">
                                Assigned Claimants
                            </div>
                            <div class="card-block">
                                <div class="report-table-container">
                                    <table class="table table-bordered ktable">
                                        <thead>
                                            <tr>
                                                <th># Claimant</th>
                                                <th>Claimant Name</th>
                                                <th>Case Manager</th>
                                                <th>Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let rma of riskData.MediumRisk.AssignedClaimants; let i=index">
                                                <td>{{rma.id}}</td>
                                                <td>{{rma.name}}</td>
                                                <td>{{rma.caseManager}}</td>
                                                <td>{{rma.note}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

<!-- /.modal -->
<div bsModal #InformProviderModel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="card-header">
                <strong>Select Provider</strong>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissable" id="ProvideMsgScccess1" style="display:none">
                    <strong>Success!</strong> Mail sent successfully.
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="name">Select Provider</label>
                                <ng-select [multiple]="true" [(ngModel)]="selectedProvider" [items]="provideList" placeholder="No Provider selected"></ng-select>
                            </div>
                        </div>
                    </div>
                    <h1 *ngIf="0">{{selectedProvider|json}}</h1>
                </div>
            </div>

            <div class="modal-footer text-center">
                <button type="button" [disabled]="!(selectedProvider && selectedProvider.length>0)" (click)="sendMailToProvider()" class="btn btn-primary">Send Mail</button>
                <button type="button" class="btn btn-secondary" (click)="closeInformProviderModel()">Cancel</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div bsModal #AssignManagerModel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="card-header">
                <strong>Select Cash Manager</strong>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissable" id="ProvideMsgScccess2" style="display:none">
                    <strong>Success!</strong> Assign Manager successfully.
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="name">Select Cash Manager</label>
                                <ng-select [multiple]="true" [(ngModel)]="selectedManager" [items]="managerList" placeholder="No Manager selected"></ng-select>
                            </div>
                        </div>
                    </div>
                    <h1 *ngIf="0">{{selectedManager|json}}</h1>
                </div>
            </div>

            <div class="modal-footer text-center">
                <button type="button" [disabled]="!(selectedManager && selectedManager.length>0)" (click)="AssignManager()" class="btn btn-primary">Assign</button>
                <button type="button" class="btn btn-secondary" (click)="closeAssignManagerModel()">Cancel</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<footer class="footer kdark">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>