<!-- <header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->

<app-header-default></app-header-default>
<div id="facet-sidebar" class="sidebar apatics-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Data Title</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedDT">
                                <span class="input-group-addon" *ngIf="!searchedDT || searchedDT.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedDT=''" *ngIf="searchedDT && searchedDT.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.dataTitles | searchFacets:searchedDT">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">License No</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedLN">
                                <span class="input-group-addon" *ngIf="!searchedLN || searchedLN.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedLN=''" *ngIf="searchedLN && searchedLN.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.licenseNos | searchFacets:searchedLN">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Alert Date</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedDOD">
                                <span class="input-group-addon" *ngIf="!searchedDOD || searchedDOD.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedDOD=''" *ngIf="searchedDOD && searchedDOD.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.datesOfDataCreated | searchFacets:searchedDOD">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 3)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">State</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedSTATE">
                                <span class="input-group-addon" *ngIf="!searchedSTATE || searchedSTATE.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedSTATE=''" *ngIf="searchedSTATE && searchedSTATE.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.states | searchFacets:searchedSTATE">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 4)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>Chiropractor</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">Chiropractor</h3>-->
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search Chiropractor" [(ngModel)]="searchChiropractorText"
                                    (keyup.enter)="searchChiropractor()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchChiropractor()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0 pt-1 text-xs-right page-info">
                        <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersChiropractor.length) + ' of ' + totalRecords + ' items'"></span>
                    </div>
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.dataTitles | selectedFacets" (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Data Titles':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.licenseNos | selectedFacets" (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty License Nos':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.datesOfDataCreated | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 3)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Dates of Data Created':objFacet.name"></span>                           
                        </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.states | selectedFacets" (click)="removeSelectedFacet(objFacet, 4)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty State':objFacet.name"></span>                           
                        </button>
                    </div>
                    <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                        <h4>No result found.</h4>
                    </div>
                    <div class="col-xs-12 p-0 fda-list-container" [hidden]="totalRecords==0">
                        <div class="card m-b-1" *ngFor="let objChiropractor of asyncChiropractor | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
                            <div class="card-block p-1">
                                <div class="col-xs-12 p-0">
                                    <button type="button" class="btn btn-primary pull-left mr-1" (click)="objChiropractor.isOpen=!objChiropractor.isOpen">
                                        <i class="fa" [ngClass]="objChiropractor.isOpen ? 'fa-minus' : 'fa-plus'"></i>
                                    </button>
                                    <div class="pull-left" *ngIf="objChiropractor.dataTitle">
                                        <span class="data-title">Data Title:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.dataTitle | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.nameAndCity">
                                        <div class="divider">|</div>
                                        <span class="data-title">Name and City:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.nameAndCity | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.state">
                                        <div class="divider">|</div>
                                        <span class="data-title">State:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.state | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.licenseNo">
                                        <div class="divider">|</div>
                                        <span class="data-title">License No:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.licenseNo | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.dateOfDataCreated">
                                        <div class="divider">|</div>
                                        <span class="data-title">Date Of Data Created:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.dateOfDataCreated.substring(6, objChiropractor.dateOfDataCreated.length-7) | date : 'MM-dd-yyyy' | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.dateFiled">
                                        <div class="divider">|</div>
                                        <span class="data-title">Date Filed:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.dateFiled.substring(6, objChiropractor.dateFiled.length-7) | date : 'MM-dd-yyyy' | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.revocationDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Revocation Date:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.revocationDate.substring(6, objChiropractor.revocationDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.probationEndDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Probation End Date:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.probationEndDate.substring(6, objChiropractor.probationEndDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.effectiveDate">
                                        <div class="divider">|</div>
                                        <span class="data-title">Effective Date:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.effectiveDate.substring(6, objChiropractor.effectiveDate.length-7) | date : 'MM-dd-yyyy' | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.fineAmount">
                                        <div class="divider">|</div>
                                        <span class="data-title">Fine Amount:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.fineAmount | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.dateIssued">
                                        <div class="divider">|</div>
                                        <span class="data-title">Date Issued:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.dateIssued.substring(6, objChiropractor.dateIssued.length-7) | date : 'MM-dd-yyyy' | highlight:searchChiropractorText"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0" *ngIf="objChiropractor.isOpen">
                                    <div class="pull-left" *ngIf="objChiropractor.action">
                                        <span class="data-title">Action:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.action | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.allegedViolations">
                                        <div class="divider">|</div>
                                        <span class="data-title">Alleged Violations :</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.allegedViolations | highlight:searchChiropractorText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objChiropractor.violations">
                                        <div class="divider">|</div>
                                        <span class="data-title">Violations:</span>
                                        <div class="pull-left" [innerHTML]="objChiropractor.violations | highlight:searchChiropractorText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" [hidden]="totalRecords==0">
                        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                        <div class="pagination-container">
                            <pagination-controls (pageChange)="searchChiropractorRecordsWithFilters($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

<footer class="footer">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>