<!-- <header class="navbar apatics-navbar" id="header-bar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
        </ul>
    </div>
</header> -->
<app-header-default></app-header-default>

<div id="facet-sidebar" class="sidebar apatics-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Provider Specialty</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group1" name="input2-group1" class="form-control" placeholder="Search" [(ngModel)]="searchedPS">
                                <span class="input-group-addon" *ngIf="!searchedPS || searchedPS.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPS=''" *ngIf="searchedPS && searchedPS.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.providerSpecialties | searchFacets:searchedPS">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 1)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Professional License Type</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedPLT">
                                <span class="input-group-addon" *ngIf="!searchedPLT || searchedPLT.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPLT=''" *ngIf="searchedPLT && searchedPLT.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.professionalLicenseTypes | searchFacets:searchedPLT">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 2)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Professional License Action</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Search" [(ngModel)]="searchedPLA">
                                <span class="input-group-addon" *ngIf="!searchedPLA || searchedPLA.length==0"><i class="fa fa-search"></i></span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPLA=''" *ngIf="searchedPLA && searchedPLA.length>0"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let objFacet of resFacets.professionalLicenseActions | searchFacets:searchedPLA">
                        <a class="nav-link p-r-5" (click)="changeSelectFacet(objFacet, 3)">
                            <i class="fa" [ngClass]="objFacet.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="objFacet.name==''?'Empty':objFacet.name"></span>
                            <span class="tag tag-info" [textContent]="'(' + objFacet.recordCount + ')'"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main apatics-container" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../home']">Home</a></li>
        <li class="breadcrumb-item active"><span>NICB</span></li>
    </ol>
    <div class="container-fluid">

        <div class="animated fadeIn">
            <div class="card m-t-2">
                <!--<h3 class="card-header">NICB</h3>-->
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search NICB" [(ngModel)]="searchNICBText"
                                    (keyup.enter)="searchNICB()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchNICB()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0 pt-1 text-xs-right page-info">
                        <span *ngIf="totalRecords>0" [textContent]="(pageNumber*recordsToFetch-recordsToFetch+1) + ' to ' + (pageNumber*recordsToFetch-recordsToFetch+rersNICB.length) + ' of ' + totalRecords + ' items'"></span>
                    </div>
                    <div class="col-xs-12 p-0 selected-facet-container">
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.providerSpecialties | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 1)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Provider Specialties':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.professionalLicenseTypes | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 2)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Professional License Types':objFacet.name"></span>                           
                       </button>
                        <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of resFacets.professionalLicenseActions | selectedFacets"
                            (click)="removeSelectedFacet(objFacet, 3)">
                            <i class="fa fa-close"></i>
                            <span [textContent]="objFacet.name==''?'Empty Professional License Actions':objFacet.name"></span>                           
                       </button>
                    </div>
                    <div class="col-xs-12 p-0 text-lg-center" *ngIf="foundRecord==false">
                        <h4>No result found.</h4>
                    </div>
                    <div class="col-xs-12 p-0 fda-list-container" [hidden]="totalRecords==0">
                        <div class="card m-b-1" *ngFor="let objNICB of asyncNICB | async | paginate: { id: 'server', itemsPerPage: recordsToFetch, currentPage: pageNumber, totalItems: totalRecords }">
                            <div class="card-block p-1">
                                <div class="col-xs-12 p-0">
                                    <button type="button" class="btn btn-primary pull-left mr-1" (click)="objNICB.isOpen=!objNICB.isOpen">
                                        <i class="fa" [ngClass]="objNICB.isOpen ? 'fa-minus' : 'fa-plus'"></i>
                                    </button>
                                    <div class="pull-left" *ngIf="objNICB.alertNumber">
                                        <span class="data-title">Alert Number:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.alertNumber | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.partyFirstName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Party Name:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.partyFirstName + ' ' +  objNICB.partyLastName  | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.providerSpecialty">
                                        <div class="divider">|</div>
                                        <span class="data-title">Provider Specialty:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.providerSpecialty | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.providerIndividualNPI">
                                        <div class="divider">|</div>
                                        <span class="data-title">Provider Individual NPI:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.providerIndividualNPI | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.professionalLicenseNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Professional License Number:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.professionalLicenseNumber | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.professionalLicenseState">
                                        <div class="divider">|</div>
                                        <span class="data-title">Professional License State:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.professionalLicenseState | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.professionalLicenseType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Professional License Type:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.professionalLicenseType | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.professionalLicenseAction">
                                        <div class="divider">|</div>
                                        <span class="data-title">Professional License Action:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.professionalLicenseAction | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.businessName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Business Name:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.businessName | highlight:searchNICBText"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0" *ngIf="objNICB.isOpen">
                                    <div class="pull-left" *ngIf="objNICB.clinicNPI">
                                        <span class="data-title">Clinic NPI:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.clinicNPI | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.streetNumber">
                                        <div class="divider">|</div>
                                        <span class="data-title">Street Number:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.streetNumber | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.streetName">
                                        <div class="divider">|</div>
                                        <span class="data-title">Street Name :</span>
                                        <div class="pull-left" [innerHTML]="objNICB.streetName | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.streetType">
                                        <div class="divider">|</div>
                                        <span class="data-title">Street Type:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.streetType | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.city">
                                        <div class="divider">|</div>
                                        <span class="data-title">City:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.city | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.state">
                                        <div class="divider">|</div>
                                        <span class="data-title">State:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.state | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.zipCode">
                                        <div class="divider">|</div>
                                        <span class="data-title">Zip Code:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.zipCode | highlight:searchNICBText"></div>
                                    </div>
                                    <div class="pull-left" *ngIf="objNICB.alertInformation">
                                        <div class="divider">|</div>
                                        <span class="data-title">Alert Information:</span>
                                        <div class="pull-left" [innerHTML]="objNICB.alertInformation | highlight:searchNICBText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" [hidden]="totalRecords==0">
                        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                        <div class="pagination-container">
                            <pagination-controls (pageChange)="searchNICBRecordsWithFilters($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<footer class="footer">
    <span class="text-left">
        &copy; 2017 Apatics, Inc. All rights reserved
    </span>
</footer>