<app-header></app-header>

<div id="facet-sidebar" class="sidebar sidebar-kdark">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">City</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedCity">
                                <span class="input-group-addon" *ngIf="!searchedCity || searchedCity.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedCity=''" *ngIf="searchedCity && searchedCity.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let city of activeFilters['citys']|searchFacets:searchedCity">
                        <a class="nav-link p-r-5" (click)="changeCitySelection(city)">
                            <i class="fa" [ngClass]="city.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="city.name"></span>
                            <span class="tag tag-info" [textContent]="city.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Zip</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedZip">
                                <span class="input-group-addon" *ngIf="!searchedZip || searchedZip.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedZip=''" *ngIf="searchedZip && searchedZip.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let zip of activeFilters['zips'] | searchFacets:searchedZip">
                        <a class="nav-link p-r-5" (click)="changeZipSelection(zip)">
                            <i class="fa" [ngClass]="zip.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="zip.name==''?'Empty':zip.name"></span>
                            <span class="tag tag-info" [textContent]="zip.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Providers</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedProv">
                                <span class="input-group-addon" *ngIf="!searchedProv || searchedProv.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedProv=''" *ngIf="searchedProv && searchedProv.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let prov of activeFilters['providers'] | searchFacets:searchedProv">
                        <a class="nav-link p-r-5" (click)="changeProvSelection(prov)">
                            <i class="fa" [ngClass]="prov.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="prov.name==''?'Empty':prov.name"></span>
                            <span class="tag tag-info" [textContent]="prov.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">TIN Number</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedTIN">
                                <span class="input-group-addon" *ngIf="!searchedTIN || searchedTIN.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedTIN=''" *ngIf="searchedTIN && searchedTIN.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let tin of activeFilters['tin_nums'] | searchFacets:searchedTIN">
                        <a class="nav-link p-r-5" (click)="changeTinSelection(tin)">
                            <i class="fa" [ngClass]="tin.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="tin.name==''?'Empty':tin.name"></span>
                            <span class="tag tag-info" [textContent]="tin.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" [class.open]="true" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)">Provider Value</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item searchbox-container">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="input2-group2" name="input2-group2" class="form-control" placeholder="Search" [(ngModel)]="searchedPV">
                                <span class="input-group-addon" *ngIf="!searchedPV || searchedPV.length==0">
                                    <i class="fa fa-search"></i>
                                </span>
                                <span class="input-group-addon cursor-pointer" (click)="searchedPV=''" *ngIf="searchedPV && searchedPV.length>0">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" *ngFor="let pv of activeFilters['providers_values'] | searchFacets:searchedPV">
                        <a class="nav-link p-r-5" (click)="changePvSelection(pv)">
                            <i class="fa" [ngClass]="pv.selected ? 'fa-check-square':'fa-square'"></i>
                            <span [textContent]="pv.name==''?'Empty':pv.name"></span>
                            <span class="tag tag-info" [textContent]="pv.item_count"></span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
<!-- Main content -->
<main class="main kdark" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['../../home']">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Provider Map</span>
        </li>
        <!-- Breadcrumb Menu-->
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="m-t-2">
                <div class="card-block">
                    <div class="row">
                        <div class="form-group mb-0 col-md-12">
                            <div class="input-group">
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search ProviderSummary" [(ngModel)]="searchProviderSummaryText"
                                    (keyup.enter)="searchProviderSummary()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" (click)="searchProviderSummary()">
                                        <i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 p-0 selected-facet-container">
                            <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['citys'] | selectedFacets" (click)="changeCitySelection(objFacet)">
                                <i class="fa fa-close"></i>
                                <span [textContent]="objFacet.name==''?'Empty Provider Name':objFacet.name"></span>
                            </button>
                            <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['zips'] | selectedFacets" (click)="changeZipSelection(objFacet)">
                                <i class="fa fa-close"></i>
                                <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                            </button>
                            <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['providers'] | selectedFacets"
                                (click)="changeProvSelection(objFacet)">
                                <i class="fa fa-close"></i>
                                <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                            </button>
                            <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['tin_nums'] | selectedFacets"
                                (click)="changeTinSelection(objFacet)">
                                <i class="fa fa-close"></i>
                                <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                            </button>
                            <button class="btn btn-secondary active" type="button" *ngFor="let objFacet of activeFilters['providers_values'] | selectedFacets"
                                (click)="changePvSelection(objFacet)">
                                <i class="fa fa-close"></i>
                                <span [textContent]="objFacet.name==''?'Empty Provider Type':objFacet.name"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12" style="padding: 0;">
                                <div id="map" style="position: relative; height: 470px;"></div>
                                <div class="" id="map-legend" style="z-index: 0; position: absolute; top: 0px; left: 0px;">
                                    <h5 class="m-t-0">Legend</h5>
                                    <div>
                                        <img class="map-legend-icons" src="assets/img/gmap-icons/turquoise-blue.png"> Most Valued
                                    </div>
                                    <div>
                                        <img class="map-legend-icons" src="assets/img/gmap-icons/yellow.png"> Medium Valued
                                    </div>
                                    <div>
                                        <img class="map-legend-icons" src="assets/img/gmap-icons/red-dark.png"> Least Valued
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-sm-12">
                            <div class="">
                                <table class="table table-bordered" style="color:#1f486a">
                                    <thead>
                                        <tr>
                                            <th>Provider</th>
                                            <th>TIN Number</th>
                                            <th>Address</th>
                                            <th>City</th>
                                            <th>Zip Code</th>
                                            <th>Rank within the cluster</th>
                                            <th>Provider value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let md of mapData">
                                            <td *ngIf="md.is_redirect==1">
                                                <a [routerLink]="['../../providerdashboard']" [queryParams]="{ provider_firstname: md.first_name,provider_lastname:md.last_name }">{{md.first_name}} {{md.last_name}}</a>
                                            </td>
                                            <td *ngIf="md.is_redirect==0">
                                                {{md.first_name}} {{md.last_name}}
                                            </td>
                                            <td>{{md.TIN_NUM}}</td>
                                            <td>{{md.Address }}</td>
                                            <td>{{md.City}}</td>
                                            <td>{{md.Zip}}</td>
                                            <td>{{md.rank_order}}</td>
                                            <td style="text-align: center;">
                                                <img style="width:20px" *ngIf="md.PROVIDER_VALUE=='Most Valued'" src="assets/img/gmap-icons/turquoise-blue.png">
                                                <img style="width:20px" *ngIf="md.PROVIDER_VALUE=='Medium Valued'" src="assets/img/gmap-icons/yellow.png">
                                                <img style="width:20px" *ngIf="md.PROVIDER_VALUE=='Least Valued'" src="assets/img/gmap-icons/red-dark.png">
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>


<footer class="footer kdark">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>