// Here you can add other styles
body.kdark{
 background: #fff; /* fallback for old browsers */
//  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
//  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#header-bar{
  a{
    &.navbar-brand{
      background-image: url("/assets/img/logo.png");
      background-size:100%;
      background-color: #2D7AB0;      
    }
  }

  &.apatics-navbar{
    background: #2D7AB0;
  }

  &.kdark-navbar{
    background:#2D7AB0;
    border: none;

    a.navbar-brand{
      background-color: transparent;
      border: none;
      
    }
    a.nav-link{
      color: #ffffff;
    }
  }
}

#facet-sidebar{ 

  &.sidebar-kdark{
    background:#1F486A;
    // border-right: 1px solid #cfd8dc;
    .sidebar-nav{
      > ul.nav{
        > li.nav-dropdown{
          // border-bottom: solid 1px #cfd8dc;

          > a.nav-link{
            // color: #283E56;
            color: #ffffff;

            &:hover{
              // background: #283E56 !important;
              background: rgba(255, 255, 255, 0.2) !important;
            }
          }

          &.open{
            // background: #283E56;
            > a.nav-link{
              color: #fff;
            }

            .nav-dropdown-items{
              // background: #304d6b;

              .searchbox-container{
                // background: #304d6b;
              }

              a.nav-link{
                &:hover{
                  background: #283E56 !important;
                }
              }
            }
          }

          .form-control{
            background: rgba(0,0,0,.2);
            border: solid 1px #2D7AB0;
            color: #fff;
            &:focus{
              border-color: #a6cede;
              outline: 0px;
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #89939d;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: #89939d;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: #89939d;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: #89939d;
            }
          }

          .input-group-addon{
            background: #2D7AB0;
            color: #000;
            border:solid 1px rgba(255,255,255,.2) !important;
            outline: none;

            &.cursor-pointer{
              cursor: pointer;
              &:hover{                      
                color: #fff !important;
                background: #111;
                border-color: #a6cede !important;
              }
            }
          }
          .input-group-btn{
            .btn{
              background: #A6CEDE;
              color: #000;
              border:solid 1px rgba(255,255,255,.2) !important;
              outline: none;

              &:hover{                      
                color: #fff !important;
                background: #111;
                border-color: #111;
              }
            }
          }

        }
      }
    }
  }

  &.apatics-sidebar{
    background: #fefefe;
    border-right: 1px solid #cfd8dc;
    .sidebar-nav{
      > ul.nav{
        > li.nav-dropdown{
          border-bottom: solid 1px #cfd8dc;

          > a.nav-link{
            color: #283E56;

            &:hover{
              background: #283E56 !important;
            }
          }

          &.open{
            background: #283E56;
            > a.nav-link{
              color: #fff;
            }

            .nav-dropdown-items{
              background: #304d6b;

              .searchbox-container{
                background: #304d6b;
              }

              a.nav-link{
                &:hover{
                  background: #283E56 !important;
                }
              }
            }
          }

          .form-control{
            background: rgba(0,0,0,.2);
            border: solid 1px #a6cede;
            color: #fff;
            &:focus{
              border-color: #a6cede;
              outline: 0px;
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #89939d;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: #89939d;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: #89939d;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: #89939d;
            }
          }

          .input-group-addon{
            background: #A6CEDE;
            color: #000;
            border:solid 1px rgba(255,255,255,.2) !important;
            outline: none;

            &.cursor-pointer{
              cursor: pointer;
              &:hover{                      
                color: #fff !important;
                background: #111;
                border-color: #a6cede !important;
              }
            }
          }
          .input-group-btn{
            .btn{
              background: #A6CEDE;
              color: #000;
              border:solid 1px rgba(255,255,255,.2) !important;
              outline: none;

              &:hover{                      
                color: #fff !important;
                background: #111;
                border-color: #111;
              }
            }
          }

        }
      }
    }
  }

  .p-r-5{
    padding-right:50px; 
  }
  &.sidebar{
      .sidebar-nav{
          .nav{
              .nav-item{
                  .nav-link{
                    cursor:pointer;
                  }

                  &.searchbox-container{                    
                      padding: 0.75rem 2rem 0.75rem 1rem;

                      .form-control{
                          /*border:1px solid #cfd8dc;*/
                      }
                  }

                  .tag{
                      &.tag-info{
                        font-style: italic;                        
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        background: transparent;
                        margin-top: 0;
                        font-size: 70%;
                      }
                  }
                  &.nav-dropdown{                    
                    .nav-link{
                      &.nav-dropdown-toggle{
                        /*border-bottom: 1px solid gray; changed custom*/
                        /*border-bottom: 1px solid #1a1817;
                        border-top: 1px solid #525151;*/
                        &::before{
                          top: auto;
                          width: 1.5rem;
                          height: 1.5rem;
                          font-size: 1.5rem;
                          line-height: 1rem;
                        }
                      }
                    }
                    &.open{
                        .nav-item{  
                            /*background-color: #171a1d;*/                
                            &.searchbox-container{
                                position: absolute;
                                top:47px;
                            }
                        }

                        > ul, > ol {
                            margin-top:60px; 

                            &.range-silider{
                              margin-top: 0;
                            }
                        }
                    }                   
                  } 
              }
              .nav-item{
                &.range-silider-container{
                  .range-silider{
                    .ng2-nouislider{
                      margin: 0;
                      padding: 1.7rem;

                      .noUi-horizontal{
                        height: 10px;

                        .noUi-handle{
                          width: 26px;
                          height: 20px;
                          left: -13px;

                          &::before{
                            height: 8px;
                            left: 10px;
                          }

                          &::after{
                            height: 8px;
                            left: 13px;
                          }
                        }
                      }
                    }

                    .range-text{
                      text-align: center;
                      margin-top: -15px;
                      padding-bottom: 5px;
                    }
                  }
                }
              }              
          }
      }
  }

  
}

#main-container{

  .pagination-container{
    .pagination{
      .page-item{
        border: solid 1px #a6cede;
        background: #1f486a;
          color: #fff;
        display: inline-block;

        span{
          display: block;
          padding: 0.5rem 0.75rem;
        }
        a{
          float: none;
          display: block;
          padding: 0.5rem 0.75rem;
          cursor: pointer;
          background: #1f486a;
          color: #fff;
          border: none;
        
          &:hover{
            color: #fff;
            background-color: #000;
          }
        }

        &.disabled{
            cursor: not-allowed;
        }

        &.pagination-previous{
          a{
            &:before{
              content: '«';
              display: inline-block;
              margin-right: 0.5rem;
            }
          }
        }

        &.pagination-next{
          a{
            &:after{
              content: '»';
              display: inline-block;
              margin-left: 0.5rem;
            }
          }          
        }
      }
    }
  }

  &.kdark{
    .highlight{
        background-color: #ff9632; 
        //background-color: #ffff01; 
      }
    // background: #283E56;

    .case-status{
      font-size: small;
      font-weight: normal; 
      text-transform: capitalize;
      cursor: pointer;
    }

    .data-title{
      float: left;
      margin-right: 5px; 
    }
    .divider{
        float: left;
        margin: 0 5px;
        font-weight: bold;
    }
    
    .breadcrumb{
      background: #fcfcfc;
      border: none;
    }
    
    .dup-bill-list{
      .card{
        .card-header{
          background-color:#CCCCCC;
          border: none;
          color: #283E56;
        }
      }
    }

    .card{
      background:#f4f4f4;;
       color: #403f3f;
      //color:white;
      border: none;      
      overflow: hidden;
      border-top: 1px solid rgba(0, 0, 0, 0);

      .card-header{
        background-color: rgba(255,255,255,0.5);
        border-bottom: 1px solid #cfd8dc;

        .btn{
          margin-top: -0.3rem;
          margin-bottom: -0.3rem;
          padding: 0.3rem 1rem;
        }
      }
      .card-block{
        background-color: transparent !important;
      }
      .card-footer{
        background-color: rgba(255,255,255,0.5);
        border-top: 1px solid #cfd8dc;
      }
      .card-b-border{
        border-bottom: 1px solid #cfd8dc;
      }
      .btn{        
        &.btn-secondary{
          background: #A6CEDE;
          color: #000;
          outline: none !important;
        }
      }

      .card{
        border: 1px solid rgba(255,255,255,.1);        
      }

      .table-striped{
           tbody{
             tr{
               &:nth-of-type(odd){
                 background: rgba(0,0,0,.2)
               }
             }
           } 
        }

      .btn{
        &.btn-primary{
          background: #283E56;
          color: #fff;
          border:solid 1px rgba(255,255,255,.2) !important;
          outline: none;

          &:hover{                      
            color: #fff !important;
            background: #111;
            border-color: #a6cede !important;
          }
        }
      }
    }
    .light-white-bg{
      background-color: #f4f4f4;
    }
    /*
        background-color: rgba(64, 93, 227, 0.5);
        border-bottom: 1px solid #405de3;
    */
    .card.card-accent-primary{
      .card-header{
        //background-color: rgba(32,168,216,0.5);
        background-color: #2D7AB0;
        border-bottom: 1px solid #20A8D8;
        color: white;
      }
      .card-footer{
        background-color: rgba(32,168,216,0.5);
        border-top: 1px solid #20A8D8;
      }
      .card-b-border{
        border-bottom: 1px solid #20A8D8;
      }
    }
    .card.card-primary{
      .card-header{
        background-color: rgba(32,168,216,0.5);
        border: none;
      }
      .card-block{
        background-color: rgba(32,168,216,0.2) !important;
      }
      .card-footer{
        background-color: rgba(32,168,216,0.5);
        border: none;
      }
      .card-b-border{
        border-bottom: 1px solid rgb(32,168,216);
      }
    }
    .card-outline-primary{
      border: 1px solid #20a8d8;
    }
    .card.card-accent-secondary{
      .card-header{
        background-color: rgba(176,190,197,0.5);
        border-bottom: 1px solid #b0bec5;
      }
      .card-footer{
        background-color: rgba(176,190,197,0.5);
        border-top: 1px solid #b0bec5;
      }
      .card-b-border{
        border-bottom: 1px solid #b0bec5;
      }
    }
    .card.card-secondary{
      .card-header{
        background-color: rgba(176,190,197,0.5);
        border: none;
      }
      .card-block{
        background-color: rgba(176,190,197,0.2) !important;
      }
      .card-footer{
        background-color: rgba(176,190,197,0.5);
        border: none;
      }
      .card-b-border{
        border-bottom: 1px solid #b0bec5;
      }
    }
    .card-outline-secondary{
      border: 1px solid #b0bec5;
    }
    .card.card-accent-success{
      // .card-header{
      //   background-color: rgba(77,189,116,0.5);
      //   border-bottom: 1px solid #4dbd74;
      // }
      .card-header{
        background-color:#2D7AB0;
        border-bottom: 1px solid #4dbd74;
        color: white;
      }
      
      .card-footer{
        background-color: rgba(77,189,116,0.5);
        border-top: 1px solid #4dbd74;
      }
      .card-b-border{
        border-bottom: 1px solid #4dbd74;
      }
    }
    .card.card-success{
      .card-header{
        background-color: rgba(77,189,116,0.5);
        border: none;
      }
      .card-block{
        background-color: rgba(77,189,116,0.2) !important;
      }
      .card-footer{
        background-color: rgba(77,189,116,0.5);
        border: none;
      }
      .card-b-border{
        border-bottom: 1px solid #4dbd74;
      }
    }
    .card-outline-success{
      border: 1px solid #4dbd74;
    }
    .card.card-accent-info{
      .card-header{
        // background-color: rgba(99,194,222,0.5);
        background-color: #2D7AB0;
        border-bottom: 1px solid #63c2de;
        color: white;
      }
      .card-footer{
        background-color: rgba(99,194,222,0.5);
        border-top: 1px solid #63c2de;
      }
      .card-b-border{
        border-bottom: 1px solid #63c2de;
      }
    }
    .card.card-info{
      .card-header{
        background-color: rgba(99,194,222,0.5);
        border: none;
      }
      .card-block{
        background-color: rgba(99,194,222,0.2) !important;
      }
      .card-footer{
        background-color: rgba(99,194,222,0.5);
        border: none;
      }
      .card-b-border{
        border-bottom: 1px solid #63c2de;
      }
    }
    .card-outline-info{
      border: 1px solid #63c2de;
    }
    .card.card-accent-warning{
      .card-header{
        //background-color: rgba(248,203,0,0.5);
        background-color: #2D7AB0;
        // border-bottom: 1px solid #f8cb00;
        color: white;
      }
      .card-footer{
        background-color: rgba(248,203,0,0.5);
        border-top: 1px solid #f8cb00;
      }
      .card-b-border{
        border-bottom: 1px solid #f8cb00;
      }
    }
    .card.card-warning{
      .card-header{
        background-color: rgba(248,203,0,0.5);
        border: none;
      }
      .card-block{
        background-color: rgba(248,203,0,0.2) !important;
      }
      .card-footer{
        background-color: rgba(248,203,0,0.5);
        border: none;
      }
      .card-b-border{
        border-bottom: 1px solid #f8cb00;
      }
    }
    .card-outline-warning{
      border: 1px solid #f8cb00;
    }
    .card.card-accent-danger{
      .card-header{
        // background-color: rgba(248,108,107,0.5);
        background-color: #2D7AB0;
        // border-bottom: 1px solid #f86c6b;
        color: white;
      }
      .card-footer{
        background-color: rgba(248,108,107,0.5);
        border-top: 1px solid #f86c6b;
      }
      .card-b-border{
        border-bottom: 1px solid #f86c6b;
      }
    }
    .card.card-danger{
      .card-header{
        background-color: rgba(248,108,107,0.5);
        border: none;
      }
      .card-block{
        background-color: rgba(248,108,107,0.2) !important;
      }
      .card-footer{
        background-color: rgba(248,108,107,0.5);
        border: none;
      }
      .card-b-border{
        border-bottom: 1px solid #f86c6b;
      }
    }
    .card-outline-danger{
      border: 1px solid #f86c6b;
    }

    .form-control{
      background: rgba(0,0,0,.2);
      border: solid 1px #a6cede;
      color: #1f486a;
      &:focus{
        border-color: #a6cede;
        outline: 0px;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #89939d;//#fff;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #89939d;//#fff;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #89939d;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #89939d;
      }
    }

    .input-group-btn{
      .btn{
        background: #283E56;
        color: #fff;
        border:solid 1px rgba(255,255,255,.2) !important;
        outline: none;

        &:hover{                      
          color: #fff !important;
          background: #111;
          border-color: #a6cede !important;
        }
      }
    }

    .page-info{
      color: #ddd;
    }
    .selected-facet-container{
      margin-bottom: 10px;
      button{
        margin: 10px 10px 0px 0px;
        &:hover{
          text-decoration: line-through;
        }
      }
    }
    .fda-list-container{
        .data-title{
            color: #ddd;
            float: left;
            margin-right: 5px;
        }
        .divider{
            float: left;
            margin: 0 5px;
            font-weight: bold;
        }
        .highlight{
          background-color: #ff9632; 
          //background-color: #ffff01; 
        }
    }
    .pagination-container{
        text-align: center;
        .ng2-pagination {
            padding-left: 0px;

            li{         
                margin-left: 2px;
                margin-right: 0;
                margin-bottom: 0.5rem;
                border:solid 1px #283e56;
                color:#1f486add;

                &.disabled{
                    padding: 0.5rem 0.75rem;
                    cursor: not-allowed;
                }

                &.current{
                    padding: 0.5rem 0.75rem;
                    color: #FFF;
                    background-color: #283e56;
                }

                a{
                    padding: 0.5rem 0.75rem;
                    cursor:pointer;
                    color:#1f486a;

                    &:hover{
                      color: #fff;
                      background-color: #283e56;
                    }
                }

                &:first-child{                   
                    margin-left: 0;                    
                }
            }
        }
    
    }

    .map-button{
      height: auto;
      width: auto;
      line-height: 1;
    }
  }

  tabset.kdark{
    .nav-tabs .nav-link{
      background: transparent;
      border: none;
      color: #1f486a;      
    }
    .nav-tabs .nav-link.active{
      font-weight: 700;
      border-bottom: 2px solid rgb(68,138,255) !important;
    }
    .tab-content{
      background: #F4F4F4;
    }
  }

  &.apatics-container{
    background: #283E56;

    .breadcrumb{
      background: #fefefe;
    }

    .card{
      background: #283E56;
      color: #eceff3;
      border: none;

      .btn{
        &.btn-secondary{
          background: #A6CEDE;
          color: #000;
          outline: none !important;
        }
      }

      .card{
        border: 1px solid rgba(255,255,255,.1);        
      }

      .table-striped{
           tbody{
             tr{
               &:nth-of-type(odd){
                 background: rgba(0,0,0,.2)
               }
             }
           } 
        }

      .btn{
        &.btn-primary{
          background: #283E56;
          color: #000;
          border:solid 1px rgba(255,255,255,.2) !important;
          outline: none;

          &:hover{                      
            color: #fff !important;
            background: #111;
            border-color: #a6cede !important;
          }
        }
      }
    }

    .form-control{
      background: rgba(0,0,0,.2);
      border: solid 1px #a6cede;
      color: #1f486a;
      &:focus{
        border-color: #a6cede;
        outline: 0px;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #89939d;//#fff;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #89939d;//#fff;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #89939d;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #89939d;
      }
    }

    .input-group-btn{
      .btn{
        background: #A6CEDE;
        color: #000;
        border:solid 1px rgba(255,255,255,.2) !important;
        outline: none;

        &:hover{                      
          color: #fff !important;
          background: #111;
          border-color: #a6cede !important;
        }
      }
    }

    .page-info{
      color: #ddd;
    }
    .selected-facet-container{
      margin-bottom: 10px;
      button{
        margin: 10px 10px 0px 0px;
        &:hover{
          text-decoration: line-through;
        }
      }
    }
    .fda-list-container{
        .data-title{
            color: #ddd;
            float: left;
            margin-right: 5px;
        }
        .divider{
            float: left;
            margin: 0 5px;
            font-weight: bold;
        }
        .highlight{
          background-color: #ff9632; 
          //background-color: #ffff01; 
        }
    }
    .pagination-container{
        text-align: center;
        .ng2-pagination {
            padding-left: 0px;

            li{         
                margin-left: -1px;
                margin-right: 0;
                margin-bottom: 0.5rem;
                border:solid 1px #a6cede;
                color:#ddd;

                &.disabled{
                    padding: 0.5rem 0.75rem;
                    cursor: not-allowed;
                }

                &.current{
                    padding: 0.5rem 0.75rem;
                    color: #fff;
                    background-color: #283e56 ;
                }

                a{
                    padding: 0.5rem 0.75rem;
                    cursor:pointer;
                    color:#fff;

                    &:hover{
                      color: #000;
                      background-color: #a6cede;
                    }
                }

                &:first-child{                   
                    margin-left: 0;                    
                }
            }
        }
    
    }

    .map-button{
      height: auto;
      width: auto;
      line-height: 1;
    }
  }

  .provider-dash{
    .card{
      .card-header.font-large{
        font-size: 1rem;
      }

      .table{
        thead{
          th{
            font-weight: 600;
            color: #1f486a;
          }
        }
      }
    }

    .redflagalert-container{
      .btn{
        background: #1f486a;
        color: #FFF;
        border:solid 1px rgba(255,255,255,.2) !important;
        outline: none;

        &:hover{                      
          color: #fff !important;
          background: #111;
          border-color: #a6cede !important;
        }
      }
    }
  }
}

#dashboard{

  .logo-section{
    text-align: center;
    img{
      max-width: 500px;
      width: 70%;
      margin-top: 45px;
    }

    #header_tabline {
      color: #1f486a;
      font-size: 23px;
      font-weight: normal;
      border-top: 2px solid #A6CEDE;
      padding: 5px 0px;
      letter-spacing: 0.4px;
      display: table;
      margin: 0px auto;
      margin-top: -8px;
    }
  }

  .d-table{
    width:100%;
  }

  .btn{
    &.btn-primary{
      background:#2D7AB0;
      border: none;
      pointer-events: none;
      color:white;
    }
  }

  .dropdown-menu-dashboard{
    left: 0.7rem;
    top: 2.75rem;
  }

  .dropdown-item{
    cursor:pointer;
    padding: 5px 20px;
    background: #f4f4f4;
    color: #283E56;
    outline: none !important;

    &:hover{
      color: #fff !important;
      background: #111;
      border-color: #111;;
    }
  }

    .dashboard-btn-container{   
      width: 33.33333%;
      float: left; 
      padding: 0.7rem;
      text-align: center;
      outline: none;
      a{
        &:hover,&:focus {
          text-decoration: none;
        }
      }
      button{          
        background: #1F486A;
        color: #fff;

        &:hover{
          color: #fff !important;
          background: #111;
          border-color: #111;
        }

         &:focus{
          outline: none;
        }
      }

      .dropdown-menu{        
        border-color: rgba(0,0,0,.3);  
        width: 90.9%;     

        .dropdown-item{
          border-color: rgba(0,0,0,.3);
        }
      }
  }

  .dashboard-block-container{
    width: 100%;
    float: left;  
    padding: 0.7rem 0px;
  }

}

#dashboard-footer{
  background: #283E56;
  text-align: center;
  color: white;
  font-size: 16px;
  border: none;
}
// footer.footer.kdark{
//     color: #1f486a;
//     background: rgba(0, 0, 0, 0.2);
//     border-top: none;
// }
footer.footer.kdark{
  color: white;
  background: #283E56;
  border-top: none;
}
#map-aside{
  $aside-menu-width : 800px;
  &.aside-menu{
    right:-$aside-menu-width;
    width: $aside-menu-width;
    padding-top: 0px; 
    border-left-width: 0.25rem;
    top: 125px;
    max-height: 510px;

    .aside-header{
      /*position: fixed;*/
      width: 100%;
      /*z-index: 5000;*/
    }

    .aside-body{
      /*padding-top: 50px;*/

      .sebm-google-map-container {
        height: 450px;
      }
    }
  }
  &.open{
    right: 0px !important;
    overflow-y: auto;
  }
}
  
.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-xs-left {
  text-align: left !important; }

.text-xs-right {
  text-align: right !important; }

.text-xs-center {
  text-align: center !important; }

@media (min-width: 544px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (max-width: 1220px) {
      #main-container tabset.provider-custom-tab .nav-tabs .nav-item{width: 16% !important;}
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

.text-muted {
  color: #b0bec5 !important; }

.round-element{
  border-radius: 50% !important;
}
.provideImage {
    width: 225px;
    height: 225px;
}
.br-5{
  border-radius: 5px;
  overflow: hidden;
}
.brt-5{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.table.ktable thead th {
    vertical-align: bottom;
    border: none;
}
.table.ktable tbody td {
  background-color: #ffffff;
  border-top: 1px solid #cfd8dc;
  color: #403f3f;
}
.color-white{
  color:#ffffff;
}
.focus-outline{
  &:focus{
    outline: none;
    color: #fff;
  }
}

// .modal-header{background-color: #4A876B !important;color:#fff;border-radius: 8px 8px 0px 0px !important;}
// .modal-body{padding:0px 0px 20px 0px; background-color: #455060 !important;border-radius: 0px 0px 8px 8px !important;}
// .modal-body tbody{
//   background-color: #fff;
  
// }
// .modal-body tbody tr th{
//   background-color: #455060 !important;color:#fff !important;border-top:none !important;
// }
// .modal-footer{
//   display: none !important;
// }
// .modal-content{
//   border-radius: 15px !important;
// }
// #main-container tabset.kdark .nav-tabs .nav-link.active{
// background-color: #327b9a !important;
// border-radius: 5px 5px 0px 0px !important;
// }
.m-t-0 {
  margin-top: 0!important;
}
.age-slider-li{
  padding:4% !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-white {
  color: #283E56 !important;
}
.ap-light-blue-bg {
  background-color: #eaf6fb;
}
.table.ktable tbody td {
  background-color: #fff;
  border-top: 1px solid #cfd8dc;
}
.full-main{
  padding-left: 0px !important;
}
.full-footer{
  left: 0px !important;
}

.tick line {display: none;}
#network-graph {
  width: 100%;
  height: 600px;
  background: #d7e5ed;
}

#network-legend {
  overflow: hidden;
  color: #1f486a;
  .legend{
    float: left;
    margin-right: 1em;
  }
}
.clear{
  clear: both;
}
.key-dot{
  display: inline-block;
  height: 20px;
  margin-right: .5em;
  width: 20px;
}
.valign-top {
  vertical-align: top!important;
}
#map-legend {
  font-family: Arial,sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  max-width: 130px;
  font-size: 12px;
}
.map-legend-icons {
  vertical-align: middle;
  max-width: 24px!important;
}
.report-table-container{
  max-height: 300px;
  overflow-y: auto;
}
.ui-select-match-item.btn.btn-default.btn-secondary.btn-xs{
  padding: 5px 6px !important;
  font-size: 10px !important;
}
.edit-address-selection-line{
  color: #62d6ff;
  cursor: pointer;
  text-decoration: underline;
}
.send-sms-to-claimant{
  float: right;
  text-align: right;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19,18,18,0.58);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #fcfcfc 1.5em 0 0 0, #fcfcfc 1.1em 1.1em 0 0, #fcfcfc 0 1.5em 0 0, #fcfcfc -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #fcfcfc 0 -1.5em 0 0, #fcfcfc 1.1em -1.1em 0 0;
  box-shadow: #fcfcfc 1.5em 0 0 0, #fcfcfc 1.1em 1.1em 0 0, #fcfcfc 0 1.5em 0 0, #fcfcfc -1.1em 1.1em 0 0, #fcfcfc -1.5em 0 0 0, #fcfcfc -1.1em -1.1em 0 0, #fcfcfc 0 -1.5em 0 0, #fcfcfc 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.main-opioid-chart-bg{
  background: white;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.opioid-graph-cluster{
  color: black;
  margin-top: 10%;
}
.opiod-graph-square{
  height: 24px;
  width: 24px;
  display: inline-block;
  background: #f1f1f1;
  text-align: center;
  vertical-align: middle;
}
.opiod-graph-round{
  font-size: 9px;
}
.opiod-cluster-ul{
  list-style-type: none;
  padding-left: 15%;
  li{
    height: 30px;
  }
}

i.icon-arrow-right{
  color: #000 !important;
  font-weight: bold;
}
i.icon-arrow-down{
  color: #000 !important;
  font-weight: bold;
}
.noUi-connect{
  background: #2D7AB0 !important  ;
}