@media (max-width: 1199px){
    #dashboard{
        .dashboard-btn-container{
            width: 50%;
            float: left;
            padding: 0.5rem;
        }

        .dashboard-block-container{
            padding: 0.5rem 0px;
        }  
        
        .dropdown-menu-dashboard{
            left: 0.5rem;
            top: 2.6rem;
        }
    }
}
@media (max-width: 991px){    
   body{
    &.mobile-open{
      .main {
        margin-left:0px !important; 
      }
    }
  }

  .footer{
      display: block;
  }

  body{
    &.sidebar-nav{ 
        .footer{
            left: 0px;
        }
    }
  }

  button.navbar-toggler{
    cursor: pointer;
  }
   #dashboard{
        .dashboard-btn-container{
            width: 50%;
            float: left;
        }

        .dropdown-menu-dashboard{
            left: 0.4rem;
            top: 2.6rem;
        }        
    }
    #map-aside{
         &.aside-menu{
            right: -95%;
            width: 95%;
         }
    } 
}

@media (max-width: 767px){
    #dashboard{
        .logo-section{
            #header_tabline{
                font-size: 20px;
            }
        }

        .dropdown-menu-dashboard{
            top: 2.5rem;
        }
    }

    .btn-lg, .btn-group-lg > .btn{        
        font-size: 1.15rem;        
    }

    #dashboard{
        .dashboard-btn-container{
            .btn{
                font-size: 0.8rem;
            }
        }
    }
}
@media (max-width: 700px){
     #map-aside{
         &.aside-menu{
            right: -95%;
            width: 95%;
         }
    }   
}
@media (max-width: 650px){
   
}
@media (max-width: 600px){
    
}
@media (max-width: 550px){
   
}
@media (max-width: 500px){
     #dashboard{
        .dashboard-btn-container{
            &.button-lg{
                width: 100%;
                float: left;
            }
        }

        /*.d-table{
            padding-top: 30px;
            padding-bottom: 50px;
        }*/
    }    
}
@media (max-width: 450px){
   
}
@media (max-width: 400px){
   
}
@media (max-width: 355px){
    #dashboard{
        .d-table{
            padding-top: 20px;
            padding-bottom: 50px;
        }
    }

    #map-aside{ 
        &.aside-menu{
            top: 90px;
            .aside-body{
                .sebm-google-map-container {
                    height:330px;
                }
            }
        }
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 650px;
        margin: 30px auto;
    }
}

