<header class="navbar kdark-navbar" id="header-bar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav pull-right hidden-md-down right-nav">
            <li class="nav-item">
                <a class="pointer ap-blue nav-link" (click)="logOut()" style="cursor:pointer;margin-right: 10px;">LOG OUT</a>
            </li>
            <!-- <li *ngIf="!loggedIn" class="nav-item">
                <a class="pointer ap-blue nav-link" (click)="logIn()">LOG IN</a>
            </li> -->
        </ul>

    </div>
</header>
<div class="container d-table" id="dashboard">
    <h1 class="logo-section">
        <img src="assets/img/logo_large.png">
        <br>
        <span id="header_tabline"> Leveraging Big Data Analytics In Healthcare</span>
    </h1>
    <div class="d-table">
        <div class="d-100vh-va-middle">
            <div *ngIf="0" class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <button class="btn btn-primary btn-lg btn-block" type="button">External Sources</button>
                    <button class="btn btn-primary btn-block active" type="button">Red Flags</button>
                    <div class="dashboard-block-container">
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../providerdashboard']">Provider Profile</button>
                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../esi']">Pharmacy</button>
                        </div>
                        <div class="dashboard-btn-container">
                            <a target="_blank" href="http://fraudlynx.apatics.net:82/">
                                <button class="btn btn-block active" type="button">Provider Cluster</button>
                            </a>

                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button">Dental</button>
                        </div>
                        <div class="dashboard-btn-container" dropdown>
                            <button class="btn btn-block active" type="button" data-toggle="dropdown" dropdownToggle aria-haspopup="true" aria-expanded="false">Alerts</button>
                            <div class="dropdown-menu dropdown-menu-left dropdown-menu-dashboard" dropdownMenu aria-labelledby="alerts-dropdown">
                                <a class="dropdown-item" [routerLink]="['../nicb']">NICB</a>
                                <a class="dropdown-item" [routerLink]="['../mbcoig']">MBC/OIG</a>
                                <a class="dropdown-item" [routerLink]="['../chiropractor']">Chiropractor alert</a>
                            </div>
                        </div>
                        <div class="dashboard-btn-container">
                            <a target="_blank" href="http://fraudlynx.apatics.net:7474/">
                                <button class="btn btn-block active" type="button">Social Network</button>
                            </a>
                        </div>
                        <!--<div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../esi']">ESI</button>
                        </div>-->
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="button">Internal Sources</button>
                    <div class="dashboard-block-container">
                        <div class="dashboard-btn-container" dropdown>
                            <button class="btn btn-block active" type="button" data-toggle="dropdown" dropdownToggle aria-haspopup="true" aria-expanded="false">License/NPI</button>
                            <div class="dropdown-menu dropdown-menu-left dropdown-menu-dashboard" dropdownMenu aria-labelledby="license-dropdown">
                                <a class="dropdown-item" [routerLink]="['../dca']">DCA</a>
                                <a class="dropdown-item" [routerLink]="['../secretaryofstate']">Secretary of State</a>
                            </div>
                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button">Injury</button>
                        </div>
                        <div class="dashboard-btn-container" dropdown>
                            <button class="btn btn-block active" type="button" data-toggle="dropdown" dropdownToggle aria-haspopup="true" aria-expanded="false">Medical Codes</button>
                            <div class="dropdown-menu dropdown-menu-left dropdown-menu-dashboard" dropdownMenu aria-labelledby="medical-codes-dropdown">
                                <a class="dropdown-item" [routerLink]="['../icd9']">ICD9</a>
                                <a class="dropdown-item" [routerLink]="['../revenuecode']">Revenue Code</a>
                            </div>
                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../dnb']">DNB</button>
                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button">Medicaid</button>
                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../fda']">FDA</button>
                        </div>
                        <!--<div class="dashboard-btn-container button-lg">
                            <button class="btn btn-block active" type="button" [routerLink]="['../gd']">Claimant and Provider Distance</button>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <button class="btn btn-primary btn-lg btn-block" type="button">NETWORK OPTIMIZATION</button>
                    <div class="dashboard-block-container">
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../providerdashboard']">Provider Profile</button>
                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../provider-outcome']">Provider Outcome</button>
                        </div>
                        <div class="dashboard-btn-container" dropdown>
                            <button class="btn btn-block active" type="button" data-toggle="dropdown" dropdownToggle aria-haspopup="true" aria-expanded="false">Provider Predictive Analytics</button>
                            <div class="dropdown-menu dropdown-menu-left dropdown-menu-dashboard" dropdownMenu aria-labelledby="alerts-dropdown">
                                <a class="dropdown-item" [routerLink]="['../predictive-analytics/provider-map']">Map View</a>
                                <a class="dropdown-item" [routerLink]="['../predictive-analytics/provider-reports']">Reports View</a>
                            </div>
                        </div>
                        <div class="dashboard-btn-container" dropdown>
                            <button class="btn btn-block active" type="button" data-toggle="dropdown" dropdownToggle aria-haspopup="true" aria-expanded="false">Social Networks</button>
                            <div class="dropdown-menu dropdown-menu-left dropdown-menu-dashboard" dropdownMenu aria-labelledby="alerts-dropdown">
                                <a class="dropdown-item" [routerLink]="['../social-networks/provider']">Provider Network</a>
                                <a class="dropdown-item" [routerLink]="['../social-networks/claimant']">Claimant Network</a>
                            </div>
                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../opioid']">OPIOID</button>
                        </div>
                        <div class="dashboard-btn-container">
                            <button class="btn btn-block active" type="button" [routerLink]="['../claim-segmentation']">Claim Segmentation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" id="dashboard-footer" style="left:0;">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>