<app-header></app-header>

<!-- Main content -->
<main class="main kdark full-main" id="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['../home']">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Claim Segmentation</span>
        </li>
        <!-- Breadcrumb Menu-->
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn mb-2 charts-container">
            <div class="row">
                <div class="col-sm-12">

                    <img src="assets/img/claim.png">
                </div>

            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>


<footer class="footer kdark full-footer">
    <span class="text-left">
        &copy; 2019 Apatics, Inc. All rights reserved
    </span>
</footer>